{% extends 'base.html' %} {% block content %}
<div
  class="p-6 max-w-full bg-white rounded-xl space-y-4 md:space-y-0 md:space-x-16 m-10 border-4 border-cyan-200 flex flex-col md:flex-row justify-center items-center"
>
  <div class="text-center flex items-center mr-10">
    <div class="text-xl font-bold text-black mb-4 text-center mr-8">
      María Rojas Marcos Asensi
    </div>
    <img
      src="//s3-eu-west-1.amazonaws.com/doctoralia.es/doctor/31f36c/31f36c0a5e617d3426e175e7d381f58a_large.jpg"
      alt=""
      class="w-28 h-28 rounded-full"
    />
  </div>
  <div class="flex flex-col md:flex-row">
    <div class="flex-1">
      <h2
        class="text-lg text-black mb-5 mt-5 flex items-center font-mono font-bold"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          class="h-5 w-5 text-gray-500 mr-2"
        >
          <path
            d="m15.995 5.04-2.686-.233-1.05-2.47a.555.555 0 0 0-1.02 0l-1.05 2.476-2.68.227a.554.554 0 0 0-.316.971l2.036 1.765-.61 2.62a.554.554 0 0 0 .827.6l2.303-1.388L14.052 11a.554.554 0 0 0 .827-.6l-.61-2.625 2.037-1.765c.372-.322.177-.932-.311-.97Zm-5 9.92-2.686-.233-1.05-2.47a.555.555 0 0 0-1.02 0l-1.05 2.475-2.68.228a.554.554 0 0 0-.316.971l2.036 1.765-.61 2.62a.554.554 0 0 0 .827.6l2.303-1.388 2.303 1.393a.554.554 0 0 0 .827-.6l-.61-2.625 2.037-1.765c.372-.322.177-.932-.311-.971Zm7.814-.233 2.686.233c.488.039.683.65.31.971l-2.036 1.765.61 2.625a.554.554 0 0 1-.827.6l-2.303-1.393-2.303 1.387a.554.554 0 0 1-.827-.6l.61-2.619-2.036-1.765a.554.554 0 0 1 .316-.971l2.68-.228 1.05-2.475a.555.555 0 0 1 1.02 0l1.05 2.47Z"
          ></path>
        </svg>
        Especialista en:
      </h2>
      <ul class="list-disc list-inside text-gray-500">
        <li>Trastornos de Ansiedad</li>
        <li>Trastornos Sexuales y de Pareja</li>
        <li>Trastornos del Comportamiento Alimentario</li>
        <li>Terapia cognitivo conductual</li>
      </ul>
    </div>
    <div class="flex-1 mr-10">
      <h2
        class="text-lg text-black mb-5 mt-5 flex items-center font-mono font-bold"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          class="h-5 w-5 text-gray-500 mr-2"
        >
          <path
            d="M5 13.18v2.81c0 .73.4 1.41 1.04 1.76l5 2.73c.6.33 1.32.33 1.92 0l5-2.73c.64-.35 1.04-1.03 1.04-1.76v-2.81l-6.04 3.3c-.6.33-1.32.33-1.92 0L5 13.18Zm6.04-9.66-8.43 4.6c-.69.38-.69 1.38 0 1.76l8.43 4.6c.6.33 1.32.33 1.92 0L21 10.09V16c0 .55.45 1 1 1s1-.45 1-1V9.59c0-.37-.2-.7-.52-.88l-9.52-5.19a2.04 2.04 0 0 0-1.92 0Z"
          ></path>
        </svg>
        Experiencia
      </h2>
      <ul class="list-disc list-inside text-gray-500">
        <li>Coach Ejecutiva en Sevilla Monstessori School</li>
        <li>Psicóloga en la Asociación contra el Cáncer</li>
        <li>Psicóloga General Sanitaria en Clínica San Blas</li>
        <li>Directora de Mega- Store en Prenatal, Madrid</li>
      </ul>
    </div>
    <div class="flex-1">
      <h2
        class="text-lg text-black mb-5 mt-5 flex items-center font-mono font-bold"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          class="h-5 w-5 text-gray-500 mr-2"
        >
          <path
            d="M20 7h-5V4c0-1.1-.9-2-2-2h-2c-1.1 0-2 .9-2 2v3H4c-1.1 0-2 .9-2 2v11c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V9c0-1.1-.9-2-2-2ZM9 12c.83 0 1.5.67 1.5 1.5S9.83 15 9 15s-1.5-.67-1.5-1.5S8.17 12 9 12Zm3 6H6v-.43c0-.6.36-1.15.92-1.39.64-.28 1.34-.43 2.08-.43s1.44.15 2.08.43c.55.24.92.78.92 1.39V18Zm1-10a1 1 0 1 1-2 0V5a1 1 0 1 1 2 0v3Zm4.25 8.5h-2.5c-.41 0-.75-.34-.75-.75s.34-.75.75-.75h2.5c.41 0 .75.34.75.75s-.34.75-.75.75Zm0-3h-2.5c-.41 0-.75-.34-.75-.75s.34-.75.75-.75h2.5c.41 0 .75.34.75.75s-.34.75-.75.75Z"
          ></path>
        </svg>
        Sobre mi
      </h2>
      <p class="text-justify text-gray-500">
        En momentos difíciles, ofrezco guía y apoyo para gestionar el malestar y
        el conflicto. Con experiencia en psicología y formación especializada en
        trastornos de ansiedad y alimenticios, trabajo contigo para construir
        confianza y amor propio. También tengo formación en psicología infantil
        y adolescente, coaching, inteligencia emocional y dirección financiera y
        de recursos humanos.
      </p>
    </div>
  </div>
</div>
{% endblock %}
