{% extends 'base.html' %} {% block content %} {% load static %}
<br />
<div class="container mx-auto p-8">
  <div
    class="bg-white p-6 rounded-full shadow-lg flex flex-col items-center md:w-full sm:w-full"
  >
    <div class="text-center flex items-center mr-10">
      <div class="text-xl font-thin text-black mb-4 text-center mr-8">
        María Rojas Marcos Asensi
      </div>
      <img
        src="//s3-eu-west-1.amazonaws.com/doctoralia.es/doctor/31f36c/31f36c0a5e617d3426e175e7d381f58a_large.jpg"
        alt=""
        class="w-36 h-36 rounded-full"
      />
    </div>
    <div
      class="flex flex-col md:flex-row text-center font-thin md:px-10 sm:px-10"
    >
      <span>
        ¡Hola! Soy María Rojas-Marcos, psicóloga y directora del Centro. Me
        complace darle la bienvenida a nuestro espacio dedicado al crecimiento
        personal y bienestar emocional.
        <br />
        <br />
        Con más de 15 años de experiencia en el campo de los RRHH y psicología
        clínica, me he especializado en el tratamiento de una variedad de
        trastornos mentales, incluyendo ansiedad, depresión, traumas, trastornos
        alimenticios y adicciones. Mi enfoque terapéutico se centra en brindar
        un apoyo integral y personalizado a cada individuo que busca ayuda en
        nuestro centro.
        <br />
        <br />
        Los trastornos de ansiedad y depresión son áreas en las que tengo una
        profunda experiencia. Trabajo en estrecha colaboración con mis clientes
        para comprender las raíces de sus preocupaciones y miedos, y juntos
        desarrollamos estrategias efectivas para enfrentar y superar estos
        desafíos.
        <br />
        <br />
        Además, tengo una pasión particular por el tratamiento de traumas y
        trastornos relacionados. Utilizo enfoques basados en la evidencia, como
        la terapia cognitivo-conductual (TCC) y la terapia de exposición, para
        ayudar a mis clientes a procesar y sanar las heridas emocionales del
        pasado.
        <br />
        <br />
        En el área de los trastornos alimenticios y las adicciones, ofrezco un
        enfoque compasivo y comprensivo para abordar las complejas interacciones
        entre la mente y el cuerpo. Trabajo con mis clientes para identificar
        los factores subyacentes que contribuyen a estos comportamientos y
        desarrollar estrategias efectivas para promover la recuperación y el
        bienestar duraderos.
        <br />
        <br />
        En el gabinete, mi objetivo es proporcionar un ambiente seguro y de
        apoyo donde cada individuo se sienta escuchado, comprendido y valorado.
        Mi compromiso es ayudarte a encontrar el camino hacia una vida más plena
        y significativa, donde puedas experimentar una mayor libertad emocional
        y un mayor sentido de bienestar.
        <br />
        <br />
        ¡Espero poder acompañarte en tu viaje hacia el crecimiento personal y la
        sanación emocional!
      </span>
    </div>
  </div>
  <br />
  <div
    class="bg-white p-6 rounded-full shadow-lg flex flex-col items-center md:overflow-hidden sm:overflow-hidden"
  >
    <div class="text-center flex items-center mr-10">
      <div class="text-xl font-thin text-black mb-4 text-center mr-8">
        Belén Peñalva Gutiérrez
      </div>
      <img
        src="{% static 'Foto Belén.jpeg' %}"
        alt=""
        class="w-32 h-36 rounded-full"
      />
    </div>
    <div
      class="flex flex-col md:flex-row text-center font-thin md:px-10 sm:px-10"
    >
      <span>
        ¡Hola! Soy Belén Peñalva, neuropsicóloga. Mi pasión radica en comprender
        cómo funciona el cerebro y cómo impacta en el desarrollo emocional y
        cognitivo de niños, adolescentes y adultos.
        <br />
        <br />
        En mi práctica, me especializo en evaluar y tratar una variedad de
        trastornos y dificultades neuropsicológicas en niños y adolescentes.
        Utilizo evaluaciones exhaustivas para identificar las necesidades
        individuales de mis jóvenes pacientes y desarrollar planes de
        intervención personalizados que fomenten su desarrollo y bienestar.
        <br />
        <br />
        Además, tengo experiencia en el tratamiento de trastornos de ansiedad en
        adultos. Mi enfoque terapéutico se centra en proporcionar herramientas
        prácticas y estrategias efectivas para ayudar a mis pacientes a manejar
        y superar sus síntomas de ansiedad.
        <br />
        <br />
        Mi objetivo es ayudar a cada individuo a alcanzar su máximo potencial y
        disfrutar de una vida plena y significativa.
        <br />
        <br />
        ¡Espero poder trabajar juntos para superar tus desafíos y alcanzar tus
        metas!
      </span>
    </div>
  </div>
  <br />
  <div
    class="bg-white p-6 rounded-full shadow-lg flex flex-col items-center md:overflow-hidden sm:overflow-hidden"
  >
    <div class="text-center flex items-center mr-10">
      <div class="text-xl font-thin text-black mb-4 text-center mr-8">
        Verónica de Lózar Mena
      </div>
      <img
        src="{% static 'Foto Verónica de Lózar Mena.jpg' %}"
        alt=""
        class="w-36 h-36 rounded-full"
      />
    </div>
    <div
      class="flex flex-col md:flex-row text-center font-thin md:px-10 sm:px-10"
    >
      <span>
        ¡Hola! Soy Verónica de Lózar Mena, psicóloga en MARÍA ROJAS-MARCOS.
        PSICÓLOGOS. Mi enfoque se centra en ayudar a las personas a superar los
        desafíos de la ansiedad, la depresión y el trauma para que puedan vivir
        vidas más plenas y satisfactorias.
        <br />
        <br />
        Con una profunda comprensión de los complejos mecanismos de la ansiedad,
        la depresión y el trauma, trabajo de cerca con mis clientes para
        desarrollar estrategias efectivas de afrontamiento y recuperación.
        Utilizo enfoques basados en la evidencia, como la terapia
        cognitivo-conductual (TCC) y la terapia de exposición, para ayudar a mis
        pacientes a reconstruir su resiliencia emocional y alcanzar una mayor
        estabilidad mental.
        <br />
        <br />
        Mi objetivo es proporcionar las herramientas y el apoyo necesarios para
        que mis pacientes puedan encontrar el camino hacia la sanación y el
        bienestar duradero.
        <br />
        <br />
        Si estás listo para dar el primer paso hacia una vida más equilibrada y
        satisfactoria, estoy aquí para acompañarte en tu viaje hacia la
        recuperación y la transformación.
      </span>
    </div>
  </div>
</div>
{% endblock %}
