{% extends 'base.html' %} {% load filters %} {% load static %} {% block content %}
{% if user.is_superuser %}
<div class="flex justify-center mt-4 space-x-10">
  <button onclick="confirmDelete('{{ articulo.titulo|escapejs }}')" class="mt-8 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Borrar</button>
</div>
{% endif %}
<div class="container mx-auto p-8 flex flex-col min-h-screen justify-between">
  <div
    class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 gap-10 mt-10 ml-10 justify-center items-center align-middle flex-grow mb-20"
  >
    <div class="flex justify-center">
      <img
        class="max-h-48 max-w-72 mr-4 sm:max-h-40 sm:max-w-48 object-cover"
        src="{% static articulo.imagen|remove_static %}"
      />
    </div>
    <h2 class="text-2xl font-thin mb-4 text-center text-lime-900">
      {{articulo.titulo}}
    </h2>
    <p class="ckeditor-content text-justify font-thin overflow-hidden">
      {{articulo.descripcion|safe}}
    </p>
  </div>
</div>
<script src="../../static/js/borrar_articulo.js">
</script>
<script>
  window.addEventListener("DOMContentLoaded", function () {
    var contents = document.querySelectorAll(".ckeditor-content");

    contents.forEach(function (content) {
      var element = content.nextElementSibling;

      // Recorre los nextElementSibling hasta encontrar una tabla
      while (element && element.tagName.toLowerCase() !== "table") {
        element = element.nextElementSibling;
      }

      if (element) {
        // Aplica los estilos a la tabla
        element.classList.add(
          "table-auto",
          "border-collapse",
          "w-full",
          "border-2",
          "border-black"
        );

        var cells = element.querySelectorAll("td");
        cells.forEach(function (cell) {
          cell.classList.add("px-4", "py-2", "border-2", "border-black");
        });
      }
    });
  });
</script>
{% endblock %}
