<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Maria Rojas-Marcos Psicólogos</title>
    <script src="{% static 'js/carrousel.js' %}"></script>
    <script src="{% static 'js/modal_articulo.js' %}"></script>
    <script src="{% static 'js/dropdown.js' %}"></script>
  </head>
  <body class="bg-teal-50">
    <header class="text-cyan-50 body-font bg-teal-950">
      <div
        class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center"
      >
        <a
          class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0"
          href="/"
        >
          <img
            src="{% static 'moneda_logo.png' %}"
            alt="logo"
            class="w-20 h-20 rounded-full"
          />
          <!--CAMBIAR POR LOGOTIPO-->
          <span class="ml-3 text-xl text-cyan-50 hover:text-lime-800 font-thin"
            >Maria Rojas-Marcos Psicólogos</span
          >
        </a>
        <nav
          class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center"
        >
          <a class="mr-5 hover:text-lime-800 text-cyan-50 font-thin" href="/"
            >Inicio</a
          >
          <a
            class="mr-5 hover:text-lime-800 text-cyan-50 font-thin"
            href="{% url 'blog' %}"
            >Blog</a
          >
          <a
            class="mr-5 hover:text-lime-800 text-cyan-50 font-thin"
            href="{% url 'about' %}"
            >Equipo</a
          >
          <a
            class="mr-5 hover:text-lime-800 text-cyan-50 font-thin"
            href="{% url 'servicios' %}"
            >Servicios</a
          >
          {% include 'dopdown_servicios.html' %}
          <a
            class="mr-5 hover:text-lime-800 text-cyan-50 font-thin"
            href="{% url 'terapia' %}"
            >Terapia Infantil y Adolescentes</a
          >
          {% include 'dopdown_programas.html' %}
        </nav>

        <!--REDES SOCIALES-->

        <span
          class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start mr-4"
        >
          <a class="ml-3 text-sky-800" href="//twitter.com/MRojasMarcosPsi">
            <svg
              fill="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-8 h-8"
              viewBox="0 0 24 24"
            >
              <path
                d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"
              ></path>
            </svg>
          </a>
          <a
            class="ml-3 text-pink-600"
            href="//www.instagram.com/mariarojasmarcos.psi/"
          >
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-8 h-8 hover:text-pink-500"
              viewBox="0 0 24 24"
            >
              <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
              <path
                d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"
              ></path>
            </svg>
          </a>
          <a
            class="ml-3 text-blue-800"
            href="//linkedin.com/in/maría-rojas-marcos-asensi-9b"
          >
            <svg
              fill="currentColor"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="0"
              class="w-8 h-8 mr-12"
              viewBox="0 0 24 24"
            >
              <path
                stroke="none"
                d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"
              ></path>
              <circle cx="4" cy="4" r="2" stroke="none"></circle>
            </svg>
          </a>
        </span>

        {% if user.is_anonymous %}
        <a href="{% url 'login' %}">
          <button
            class="inline-flex items-center bg-lime-950 border-0 py-1 px-3 focus:outline-none hover:bg-lime-800 rounded text-base mt-4 md:mt-0 font-thin"
          >
            Log in
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-4 h-4 ml-1"
              viewBox="0 0 24 24"
            >
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </button>
        </a>
        {% else %}
        <a href="{% url 'logout' %}">
          <button
            class="inline-flex items-center bg-lime-950 border-0 py-1 px-3 focus:outline-none hover:bg-lime-800 rounded text-base mt-4 md:mt-0 font-thin"
          >
            Cerrar sesión
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-4 h-4 ml-1"
              viewBox="0 0 24 24"
            >
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </button>
        </a>
        {% endif %}
      </div>
    </header>
    {% block content %}{% endblock %}

    <!--FOOTER-->
    <footer class="text-gray-600 body-font">
      <div
        class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col"
      >
        <div
          class="w-200 h-80 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left md:mt-0 mt-6 mb-12"
        >
          <!-- MAPA -->
          <iframe
            class="ml-auto mr-auto"
            title="map"
            marginheight="0"
            marginwidth="0"
            scrolling="no"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3170.2817748841026!2d-5.9774625238135926!3d37.38316807208666!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd126ea0fbbb8331%3A0x52accf460b1436cb!2sAv.%20Eduardo%20Dato%2C%20Sevilla!5e0!3m2!1ses!2ses!4v1699551114796!5m2!1ses!2ses"
            width="100%"
            height="100%"
            frameborder="0"
          ></iframe>
          <div class="bg-white relative flex flex-wrap py-6 rounded shadow-md">
            <div class="lg:w-1/2 px-6">
              <h2
                class="title-font font-semibold text-gray-900 tracking-widest text-xs"
              >
                Direccion
              </h2>
              <p class="mt-1">
                Photo booth tattooed prism, portland taiyaki hoodie neutra
                typewriter
              </p>
            </div>
            <div class="lg:w-1/2 px-6 mt-4 lg:mt-0">
              <h2
                class="title-font font-semibold text-gray-900 tracking-widest text-xs"
              >
                Correo electrónico
              </h2>
              <a class="text-indigo-500 leading-relaxed"></a>
              <h2
                class="title-font font-semibold text-gray-900 tracking-widest text-xs mt-4"
              >
                Teléfono
              </h2>
              <p class="leading-relaxed">+34 722 45 54 99</p>
            </div>
          </div>
        </div>
        <div
          class="flex-grow flex flex-wrap md:pr-20 -mb-10 md:text-left text-center order-first justify-center"
        >
          <div class="lg:w-1/4 md:w-1/2 w-full px-4">
            <h2
              class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3"
            >
              Psicología para:
            </h2>
            <nav class="list-none mb-10">
              <li>
                <a class="text-gray-600 hover:text-gray-800">Adolescentes</a>
              </li>
              <li>
                <a class="text-gray-600 hover:text-gray-800">Adultos</a>
              </li>
              <li>
                <a class="text-gray-600 hover:text-gray-800">Parejas</a>
              </li>
            </nav>
          </div>
          <div class="lg:w-1/4 md:w-1/2 w-full px-4">
            <h2
              class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3"
            >
              Enlaces de Interés:
            </h2>
            <nav class="list-none mb-10">
              <li>
                <a
                  class="text-gray-600 hover:text-gray-800"
                  href="{% url 'blog' %}"
                  >Blog</a
                >
              </li>
              <li>
                <a
                  class="text-gray-600 hover:text-gray-800"
                  href="{% url 'about' %}"
                  >Equipo</a
                >
              </li>
              <li>
                <a class="text-gray-600 hover:text-gray-800"
                  >Política de privacidad</a
                >
              </li>
            </nav>
          </div>
        </div>
      </div>

      <!--REDES SOCIALES-->
      <div class="bg-emerald-950">
        <div
          class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row"
        >
          <p class="text-cyan-50 text-sm text-center sm:text-left">
            © 2023 Maria Rojas-Marcos Psicólogos
          </p>
          <span
            class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start mr-4"
          >
            <a class="ml-3 text-sky-800" href="//twitter.com/MRojasMarcosPsi">
              <svg
                fill="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="w-6 h-8"
                viewBox="0 0 24 24"
              >
                <path
                  d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"
                ></path>
              </svg>
            </a>
            <a
              class="ml-3 text-pink-600"
              href="//www.instagram.com/mariarojasmarcos.psi/"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="w-6 h-8 hover:text-pink-500"
                viewBox="0 0 24 24"
              >
                <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                <path
                  d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"
                ></path>
              </svg>
            </a>
            <a
              class="ml-3 text-blue-800"
              href="//linkedin.com/in/maría-rojas-marcos-asensi-9b"
            >
              <svg
                fill="currentColor"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="0"
                class="w-6 h-8 mr-12"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="none"
                  d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"
                ></path>
                <circle cx="4" cy="4" r="2" stroke="none"></circle>
              </svg>
            </a>
          </span>
        </div>
      </div>
    </footer>
  </body>
</html>
