{% extends 'base.html' %} {% block content %}
<div class="relative overflow-x-auto p-24 container">
  <div class="flex flex-col items-center">
    <div
      class="bg-white p-10 rounded-full border-x-4 border-teal-950 shadow-lg overflow-hidden items-center"
    >
      <div class="font-thin text-lg mx-3 md:mx-24">
        <p class="text-center">
          ¡Alcanza tus Metas y Despliega tu Potencial al Máximo!
        </p>
        <br />
        <p class="underline text-center">
          Coaching Integral para un Crecimiento Transformador
        </p>
        <br />
        <p class="underline text-center">
          Desarrolla tu Mejor Versión en Todas las Áreas de tu Vida
        </p>
        <br />
        Nuestro programa de coaching personal y profesional ofrece un enfoque
        integral diseñado para ayudarte a alcanzar tus metas personales y
        profesionales, desbloquear tu potencial y vivir una vida plena y
        satisfactoria. A través de una combinación única de coaching de vida,
        coaching nutricional y estrategias personalizadas, te brindamos el apoyo
        y la orientación necesarios para lograr resultados duraderos y
        significativos.
      </div>
    </div>
    <br />
    <ul class="mt-10 mb-10">
      <div
        class="bg-white p-10 rounded-t-full border-x-4 border-green-300 shadow-lg overflow-hidden items-center"
      >
        <li class="font-thin text-xl list-decimal mx-10 md:mx-24">
          <strong
            >Coaching de Vida: Transforma tu Realidad y Encuentra tu Propósito
            <br
          /></strong>
          En nuestro enfoque de coaching de vida, te acompañamos en un viaje de
          autodescubrimiento y crecimiento personal. Trabajamos juntos para
          identificar tus valores, metas y deseos más profundos, y desarrollar
          un plan de acción claro y realista para alcanzarlos. A través de
          sesiones de coaching individuales, te ayudamos a superar obstáculos,
          ganar claridad y tomar decisiones que te acerquen a la vida que deseas
          vivir.
        </li>
      </div>
      <br />
      <div
        class="bg-white p-10 rounded-t-full border-x-4 border-green-300 shadow-lg overflow-hidden items-center"
      >
        <li class="font-thin text-xl list-decimal mx-10 md:mx-24">
          <strong
            >Nutricoach: Alimentación Equilibrada para un Cuerpo y Mente
            Saludables <br
          /></strong>
          Nuestro servicio de nutricoaching te guía hacia una relación positiva
          con la comida y un estilo de vida saludable y equilibrado. Trabajamos
          contigo para identificar tus objetivos de salud y bienestar,
          desarrollar hábitos alimenticios saludables y establecer un plan de
          alimentación personalizado que se adapte a tus necesidades únicas. Con
          el apoyo de nuestro nutricoach, aprenderás a tomar decisiones
          conscientes sobre tu alimentación y a nutrir tu cuerpo de manera
          óptima para mejorar tu salud física y mental.
        </li>
      </div>
      <br />
      <div
        class="bg-white p-10 rounded-t-full border-x-4 border-green-300 shadow-lg overflow-hidden items-center"
      >
        <li class="font-thin text-xl list-decimal mx-10 md:mx-24">
          <strong
            >Coaching Profesional: Impulsa tu Carrera y Alcanza el Éxito <br
          /></strong>
          En el ámbito profesional, nuestro coaching te ayuda a identificar tus
          fortalezas, superar tus limitaciones y avanzar en tu carrera hacia el
          éxito y la realización profesional. Ya sea que estés buscando ascender
          en tu empresa, cambiar de carrera o iniciar tu propio negocio, te
          proporcionamos las herramientas y estrategias necesarias para alcanzar
          tus objetivos profesionales con confianza y determinación.
        </li>
      </div>
    </ul>
    <br />
    <div
      class="bg-white p-10 rounded-full border-x-4 border-teal-950 shadow-lg overflow-hidden items-center"
    >
      <div class="font-thin text-lg mx-3 md:mx-24">
        <p class="text-center">
          ¡Invierte en tu Crecimiento y Bienestar Hoy Mismo!
        </p>
        <br />
        No esperes más para desplegar tu máximo potencial y vivir la vida que
        deseas. Con nuestro programa de coaching personal y profesional, te
        ofrecemos el apoyo y la orientación necesarios para transformar tu vida
        en todas sus dimensiones. ¡Da el primer paso hacia un futuro más
        brillante y satisfactorio hoy mismo!
      </div>
    </div>
  </div>
</div>
{% endblock %}
