{% extends 'base.html' %} {% block content %}
<div class="relative overflow-x-auto p-4 md:p-24 container">
  <h2 class="text-center text-2xl mt-9 font-bold text-lime-900">¡Alcanza tus Metas y Despliega tu Potencial al Máximo!</h2>
  <h3 class="text-center  mt-9 font-bold text-lime-900">Coaching Integral para un Crecimiento Transformador</h3>
  <h3 class="text-center mt-9 font-bold text-lime-900">Desarrolla tu Mejor Versión en Todas las Áreas de tu Vida</h3>
  <br/>
  <div class="flex flex-col items-center">
      <p class="font-thin text-lg mx-3 md:mx-24">
        Nuestro programa de coaching personal y profesional ofrece un enfoque
        integral diseñado para ayudarte a alcanzar tus metas personales y
        profesionales, desbloquear tu potencial y vivir una vida plena y
        satisfactoria. A través de una combinación única de coaching de vida,
        coaching nutricional y estrategias personalizadas, te brindamos el apoyo
        y la orientación necesarios para lograr resultados duraderos y
        significativos.
      </p>
    <br />
    <h3 class="text-center mt-9 font-bold text-lime-900">Coaching de Vida: Transforma tu Realidad y Encuentra tu Propósito</h3>
  <br/>
  <div class="flex flex-col items-center">
      <p class="font-thin text-lg mx-3 md:mx-24">
        En nuestro enfoque de coaching de vida, te acompañamos en un viaje de
          autodescubrimiento y crecimiento personal. Trabajamos juntos para
          identificar tus valores, metas y deseos más profundos, y desarrollar
          un plan de acción claro y realista para alcanzarlos. A través de
          sesiones de coaching individuales, te ayudamos a superar obstáculos,
          ganar claridad y tomar decisiones que te acerquen a la vida que deseas
          vivir.
      </p>
 
      <br />
      <h3 class="text-center mt-9 font-bold text-lime-900">Nutricoach: Alimentación Equilibrada para un Cuerpo y Mente
        Saludables </h3>
  <br/>
  <div class="flex flex-col items-center">
      <p class="font-thin text-lg mx-3 md:mx-24">
        Nuestro servicio de nutricoaching te guía hacia una relación positiva
          con la comida y un estilo de vida saludable y equilibrado. Trabajamos
          contigo para identificar tus objetivos de salud y bienestar,
          desarrollar hábitos alimenticios saludables y establecer un plan de
          alimentación personalizado que se adapte a tus necesidades únicas. Con
          el apoyo de nuestro nutricoach, aprenderás a tomar decisiones
          conscientes sobre tu alimentación y a nutrir tu cuerpo de manera
          óptima para mejorar tu salud física y mental.
      </p>
 
      <br />
      <h3 class="text-center mt-9 font-bold text-lime-900">Coaching Profesional: Impulsa tu Carrera y Alcanza el Éxito </h3>
  <br/>
  <div class="flex flex-col items-center">
      <p class="font-thin text-lg mx-3 md:mx-24">
        En el ámbito profesional, nuestro coaching te ayuda a identificar tus
          fortalezas, superar tus limitaciones y avanzar en tu carrera hacia el
          éxito y la realización profesional. Ya sea que estés buscando ascender
          en tu empresa, cambiar de carrera o iniciar tu propio negocio, te
          proporcionamos las herramientas y estrategias necesarias para alcanzar
          tus objetivos profesionales con confianza y determinación.
      </p>
 
      <br />
      <p class="font-thin text-lg mx-3 md:mx-24">
        ¡Invierte en tu Crecimiento y Bienestar Hoy Mismo!
        <br />
        No esperes más para desplegar tu máximo potencial y vivir la vida que
        deseas. Con nuestro programa de coaching personal y profesional, te
        ofrecemos el apoyo y la orientación necesarios para transformar tu vida
        en todas sus dimensiones. ¡Da el primer paso hacia un futuro más
        brillante y satisfactorio hoy mismo!
      </p>
      
      <br />
      
    
    </div>
  </div>
</div>
{% endblock %}
