{% extends 'base.html' %} {% load filters %} {% load static %} {% block content %}

<form method="post" style="max-width: 500px; margin: auto">
  {% csrf_token %} {% for field in form %}
  <div class="mb-4">
    <label
      class="block text-lime-950 text-2xl font-thin mb-2"
      for="{{ field.id_for_label }}"
    >
      {{ field.label }}
    </label>
    {% if field.errors %}
    <div class="text-red-500" id="{{ field.name }}-error">{{ field.errors }}</div>
    {% endif %} {% if field.name == 'tipo' %}
    <div class="relative">
      {{ field|addcss:"appearance-none shadow border-black rounded w-full py-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline overflow-hidden border text-lime-950 font-thin" }}
      <div
        class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
      >
        <svg
          class="fill-current h-4 w-4"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
        >
          <path d="M10 12l-6-6h12" />
        </svg>
      </div>
    </div>
    {% else %} 
    {{ field|addcss:"shadow appearance-none border-black rounded w-full py-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline overflow-hidden border text-lime-950 font-thin" }} 
    {% endif %}
    <br />
  </div>
  {% endfor %}
  <br />
  <button
    type="submit"
    class="m-10 bg-lime-950 hover:bg-lime-800 text-cyan-50 font-bold py-2 px-4 rounded"
  >
    Enviar
  </button>
</form>

<script>
  document.getElementById('id_numero_telefono').addEventListener('input', function() {
    document.getElementById('numero_telefono-error').textContent = '';
  });
</script>

{% endblock %}
