{% extends 'base.html' %} {% block content %}
<div class="relative overflow-x-auto p-4 md:p-24 container">
  <h2 class="text-center text-2xl mt-9 font-bold text-lime-900">¡Equilibra tu Cuerpo y Mente para una Vida más Plena!</h2>
  <h3 class="text-center  mt-9 font-bold text-lime-900">Innovación en Bienestar: Combinación de Terapia Psicológica y Masaje
    Antiestrés</h3>
  <h3 class="text-center mt-9 font-bold text-lime-900">Estrés Físico y Psicológico: La Importancia de Abordar Ambos</h3>
  <br/>
  <div class="flex flex-col items-center">
      <p class="font-thin text-lg mx-3 md:mx-24">
        En nuestro innovador programa de reducción del estrés, hemos integrado
        sabiamente la terapia psicológica y el masaje antiestrés para brindarte
        una solución completa y efectiva para combatir el estrés en todas sus
        formas. Entendemos que el estrés no solo afecta tu mente, sino también
        tu cuerpo, y por eso hemos creado un enfoque holístico que aborda ambas
        dimensiones.
      </p>
    <br />
    <h3 class="text-center mt-9 font-bold text-lime-900">Terapia Psicológica: Gestión Emocional del Estrés</h3>
  <br/>
  <div class="flex flex-col items-center">
      <p class="font-thin text-lg mx-3 md:mx-24">
        Nuestros expertos en psicología te ayudarán a explorar las raíces de
          tu estrés emocional, identificar los desencadenantes y aprender
          estrategias efectivas para manejarlo. A través de sesiones
          personalizadas, trabajarás para desarrollar habilidades de
          afrontamiento, mejorar tu bienestar emocional y promover una
          mentalidad resiliente frente al estrés.
      </p>
 
      <br />
      <h3 class="text-center mt-9 font-bold text-lime-900">Masaje Antiestrés: Reducción del Estrés Físico </h3>
  <br/>
  <div class="flex flex-col items-center">
      <p class="font-thin text-lg mx-3 md:mx-24">
        Sumérgete en un oasis de relajación con nuestros masajes antiestrés
          diseñados para aliviar la tensión muscular y restaurar tu equilibrio
          interior. Con técnicas terapéuticas expertas, nuestros masajistas te
          ayudarán a reconectar con tu cuerpo y liberar el estrés acumulado,
          promoviendo una sensación general de bienestar y relajación profunda
      </p>
 
      <br />
      <h3 class="text-center mt-9 font-bold text-lime-900">Personalización del Programa: Adaptado a tus Necesidades Únicas </h3>
      <h3 class="text-center mt-9 font-bold text-lime-900">Test de Estrés Online: Identifica tu Nivel de Estrés </h3>
      <br/>
  <div class="flex flex-col items-center">
      <p class="font-thin text-lg mx-3 md:mx-24">
        A través de nuestro test de estrés online, evaluamos tu nivel de estrés
        físico y psicológico para proporcionarte una recomendación
        personalizada. Dependiendo de tus necesidades específicas, te ofrecemos
        diferentes opciones de programa:
      </p>
 
      <br />
      
      <h3 class="text-center mt-9 font-bold text-lime-900">Masaje Antiestrés y Terapia Psicológica:</h3>
      <br/>
  <div class="flex flex-col items-center">
      <p class="font-thin text-lg mx-3 md:mx-24">
        Recomendado si experimentas altos niveles de estrés tanto físico como
          psicológico. Esta combinación te brinda un enfoque completo para
          reducir el estrés en todas sus dimensiones.
      </p>
 
      <br />
    </div>
    <br />
    <h3 class="text-center mt-9 font-bold text-lime-900">Masaje Antiestrés y Taller de Reducción del Estrés:</h3>
      <br/>
  <div class="flex flex-col items-center">
      <p class="font-thin text-lg mx-3 md:mx-24">
        Ideal si tu estrés se manifiesta principalmente a nivel físico. Este
          programa te proporciona herramientas prácticas para aliviar la tensión
          corporal y promover la relajación profunda.
      </p>
 
      <br />
    </div>
    <br />
    <h3 class="text-center mt-9 font-bold text-lime-900">Terapia Psicológica:</h3>
      <br/>
  <div class="flex flex-col items-center">
      <p class="font-thin text-lg mx-3 md:mx-24">
        Recomendado si tu estrés es principalmente de naturaleza emocional.
        Nuestros terapeutas te brindarán el apoyo y las herramientas
        necesarias para manejar el estrés y mejorar tu bienestar mental.
      </p>
 
      <br />
      <p class="font-thin text-lg mx-3 md:mx-24">
        ¡Invierte en tu Bienestar Hoy Mismo!
        <br />
        No dejes que el estrés controle tu vida. Nuestro programa de reducción
        del estrés en ocho semanas te ofrece las herramientas y el apoyo que
        necesitas para recuperar el equilibrio en cuerpo y mente, y disfrutar de
        una vida más plena y satisfactoria. ¡Comienza tu viaje hacia un
        bienestar duradero hoy mismo!
      </p>
    </div>
    <br />
   
      
   
    </div>
  </div>
</div>
{% endblock %}
