{% extends 'base.html' %} {% block content %}
<div class="relative overflow-x-auto p-24 container">
  <div class="flex flex-col items-center">
    <div
      class="bg-white p-10 rounded-full border-x-4 border-teal-950 shadow-lg overflow-hidden items-center"
    >
      <div class="font-thin text-lg mx-3 md:mx-24">
        <p class="text-center">
          ¡Equilibra tu Cuerpo y Mente para una Vida más Plena!
        </p>
        <br />
        <p class="underline text-center">
          Innovación en Bienestar: Combinación de Terapia Psicológica y Masaje
          Antiestrés
        </p>
        <br />
        <p class="underline text-center">
          Estrés Físico y Psicológico: La Importancia de Abordar Ambos
        </p>
        <br />
        En nuestro innovador programa de reducción del estrés, hemos integrado
        sabiamente la terapia psicológica y el masaje antiestrés para brindarte
        una solución completa y efectiva para combatir el estrés en todas sus
        formas. Entendemos que el estrés no solo afecta tu mente, sino también
        tu cuerpo, y por eso hemos creado un enfoque holístico que aborda ambas
        dimensiones.
      </div>
    </div>
    <br />
    <ul class="mt-10 mb-10">
      <div
        class="bg-white p-10 rounded-t-full border-x-4 border-green-300 shadow-lg overflow-hidden items-center"
      >
        <li class="font-thin text-xl list-decimal mx-10 md:mx-24">
          <strong
            >Terapia Psicológica: Gestión Emocional del Estrés <br
          /></strong>
          Nuestros expertos en psicología te ayudarán a explorar las raíces de
          tu estrés emocional, identificar los desencadenantes y aprender
          estrategias efectivas para manejarlo. A través de sesiones
          personalizadas, trabajarás para desarrollar habilidades de
          afrontamiento, mejorar tu bienestar emocional y promover una
          mentalidad resiliente frente al estrés.
        </li>
      </div>
      <br />
      <div
        class="bg-white p-10 rounded-t-full border-x-4 border-green-300 shadow-lg overflow-hidden items-center"
      >
        <li class="font-thin text-xl list-decimal mx-10 md:mx-24">
          <strong>Masaje Antiestrés: Reducción del Estrés Físico <br /></strong>
          Sumérgete en un oasis de relajación con nuestros masajes antiestrés
          diseñados para aliviar la tensión muscular y restaurar tu equilibrio
          interior. Con técnicas terapéuticas expertas, nuestros masajistas te
          ayudarán a reconectar con tu cuerpo y liberar el estrés acumulado,
          promoviendo una sensación general de bienestar y relajación profunda.
        </li>
      </div>
    </ul>
    <br />
    <div
      class="bg-white p-10 rounded-full border-x-4 border-teal-950 shadow-lg overflow-hidden items-center"
    >
      <div class="font-thin text-lg mx-3 md:mx-24">
        <p class="underline text-center">
          Personalización del Programa: Adaptado a tus Necesidades Únicas
        </p>
        <br />
        <p class="underline text-center">
          Test de Estrés Online: Identifica tu Nivel de Estrés
        </p>
        <br />
        A través de nuestro test de estrés online, evaluamos tu nivel de estrés
        físico y psicológico para proporcionarte una recomendación
        personalizada. Dependiendo de tus necesidades específicas, te ofrecemos
        diferentes opciones de programa:
      </div>
    </div>
    <br />
    <ul class="mt-10 mb-10">
      <div
        class="bg-white p-10 rounded-t-full border-x-4 border-green-300 shadow-lg overflow-hidden items-center"
      >
        <li class="font-thin text-xl list-decimal mx-10 md:mx-24">
          <strong>Masaje Antiestrés y Terapia Psicológica:</strong>
          Recomendado si experimentas altos niveles de estrés tanto físico como
          psicológico. Esta combinación te brinda un enfoque completo para
          reducir el estrés en todas sus dimensiones.
        </li>
      </div>
      <br />
      <div
        class="bg-white p-10 rounded-t-full border-x-4 border-green-300 shadow-lg overflow-hidden items-center"
      >
        <li class="font-thin text-xl list-decimal mx-10 md:mx-24">
          <strong>Masaje Antiestrés y Taller de Reducción del Estrés:</strong>
          Ideal si tu estrés se manifiesta principalmente a nivel físico. Este
          programa te proporciona herramientas prácticas para aliviar la tensión
          corporal y promover la relajación profunda.
        </li>
      </div>
      <br />
      <div
        class="bg-white p-10 rounded-t-full border-x-4 border-green-300 shadow-lg overflow-hidden items-center"
      >
        <li class="font-thin text-xl list-decimal mx-10 md:mx-24">
          <strong>Terapia Psicológica:</strong>
          Recomendado si tu estrés es principalmente de naturaleza emocional.
          Nuestros terapeutas te brindarán el apoyo y las herramientas
          necesarias para manejar el estrés y mejorar tu bienestar mental.
        </li>
      </div>
    </ul>
    <br />
    <div
      class="bg-white p-10 rounded-full border-x-4 border-teal-950 shadow-lg overflow-hidden items-center"
    >
      <div class="font-thin text-lg mx-3 md:mx-24">
        <p class="text-center">¡Invierte en tu Bienestar Hoy Mismo!</p>
        <br />
        No dejes que el estrés controle tu vida. Nuestro programa de reducción
        del estrés en ocho semanas te ofrece las herramientas y el apoyo que
        necesitas para recuperar el equilibrio en cuerpo y mente, y disfrutar de
        una vida más plena y satisfactoria. ¡Comienza tu viaje hacia un
        bienestar duradero hoy mismo!
      </div>
    </div>
  </div>
</div>
{% endblock %}
