{% extends 'base.html' %} {% load static %} {% block content %}
<br />
<script>
  window.addEventListener("DOMContentLoaded", (event) => {
    // Muestra la primera imagen al cargar la página
    const carouselItems = document.querySelectorAll("[data-carousel-item]");
    carouselItems[0].classList.remove("hidden");

    // Cambia a la siguiente imagen cuando se hace clic en los controles del carrusel
    const nextButton = document.querySelector("[data-carousel-next]");
    const prevButton = document.querySelector("[data-carousel-prev]");
    let currentIndex = 0;

    nextButton.addEventListener("click", () => {
      carouselItems[currentIndex].classList.add("hidden");
      currentIndex = (currentIndex + 1) % carouselItems.length;
      carouselItems[currentIndex].classList.remove("hidden");
    });

    prevButton.addEventListener("click", () => {
      carouselItems[currentIndex].classList.add("hidden");
      currentIndex =
        (currentIndex - 1 + carouselItems.length) % carouselItems.length;
      carouselItems[currentIndex].classList.remove("hidden");
    });

    // Cambia a la imagen seleccionada cuando se hace clic en los indicadores del carrusel
    const indicatorButtons = document.querySelectorAll(
      "[data-carousel-slide-to]"
    );
    indicatorButtons.forEach((button, index) => {
      button.addEventListener("click", () => {
        carouselItems[currentIndex].classList.add("hidden");
        currentIndex = index;
        carouselItems[currentIndex].classList.remove("hidden");
      });
    });

    // Transición automática
    setInterval(() => {
      carouselItems[currentIndex].classList.add("hidden");
      currentIndex = (currentIndex + 1) % carouselItems.length;
      carouselItems[currentIndex].classList.remove("hidden");
    }, 8000);
  });
</script>
<div id="default-carousel" class="relative w-full" data-carousel="slide">
  <!-- Carousel wrapper -->
  <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
    <!-- Item 1 -->
    <div class="hidden duration-200 ease-in-out" data-carousel-item>
      <img
        src="https://images.unsplash.com/photo-1499409874263-15170ac8f2a6?q=80&w=2370&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
      />
      <div
        class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white text-2xl"
      >
        ¿Listo para descubrir nuevas perspectivas y encontrar un camino que
        funcione para ti?
      </div>
    </div>
    <!-- Item 2 -->
    <div class="hidden duration-200 ease-in-out" data-carousel-item>
      <img
        src="https://images.unsplash.com/photo-1592861956120-e524fc739696?q=80&w=2370&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
      />
      <div
        class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white text-2xl"
      >
        ¿Listo para tener una relación saludable con la comida? Juntos podemos
        encontrar el equilibrio.
      </div>
    </div>
    <!-- Item 3 -->
    <div class="hidden duration-200 ease-in-out" data-carousel-item>
      <img
        src="{% static 'articulos/logotipo.jpg' %}"
        class="absolute block w-2/3 h-96 -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
      />
    </div>
  </div>
  <!-- Slider indicators -->
  <div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2">
    <button
      type="button"
      class="w-3 h-3 rounded-full bg-blue-500"
      aria-current="true"
      aria-label="Slide 1"
      data-carousel-slide-to="0"
    ></button>
    <button
      type="button"
      class="w-3 h-3 rounded-full bg-blue-500"
      aria-current="false"
      aria-label="Slide 2"
      data-carousel-slide-to="1"
    ></button>
    <!--AGREGAR TANTOS BOTONES COMO ITEMS HAYA ENJ EL CARUSEL-->
    <button
      type="button"
      class="w-3 h-3 rounded-full bg-blue-500"
      aria-current="false"
      aria-label="Slide 3"
      data-carousel-slide-to="2"
    ></button>
  </div>
  <!-- Slider controls -->
  <button
    type="button"
    class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
    data-carousel-prev
  >
    <span
      class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-blue-500/30 dark:bg-gray-800/30 group-hover:bg-blue-500/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-blue-700 dark:group-focus:ring-gray-800/70 group-focus:outline-none"
    >
      <svg
        class="w-4 h-4 text-white dark:text-white"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 6 10"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 1 1 5l4 4"
        />
      </svg>
      <span class="sr-only">Previous</span>
    </span>
  </button>
  <button
    type="button"
    class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
    data-carousel-next
  >
    <span
      class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-blue-500/30 dark:bg-gray-800/30 group-hover:bg-blue-500/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-blue-700 dark:group-focus:ring-gray-800/70 group-focus:outline-none"
    >
      <svg
        class="w-4 h-4 text-white dark:text-white"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 6 10"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m1 9 4-4-4-4"
        />
      </svg>
      <span class="sr-only">Next</span>
    </span>
  </button>
</div>

<!-- SERVICIOS -->
<div class="container mx-auto p-8">
  <h1 class="text-4xl font-bold mb-8 text-center">Servicios</h1>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <div class="bg-white p-6 rounded-full shadow-lg">
      <h2 class="text-2xl font-bold mb-4 text-center">
        <img
          class="h-12 w-12 mr-4 float-left"
          src="{% static 'terapia.png' %}"
        />Terapia Individual
      </h2>
    </div>
    <div class="bg-white p-6 rounded-full shadow-lg">
      <h2 class="text-2xl font-bold mb-4 text-center">
        <img
          class="h-12 w-12 mr-4 float-left"
          src="{% static 'psicologo.png' %}"
        />Terapia para Niños y Adolescentes
      </h2>
    </div>
    <div class="bg-white p-6 rounded-full shadow-lg">
      <h2 class="text-2xl font-bold mb-4 text-center">
        <img
          class="h-12 w-12 mr-4 float-left"
          src="{% static 'terapia (1).png' %}"
        />Neuropsicología
      </h2>
    </div>
    <div class="bg-white p-6 rounded-full shadow-lg">
      <h2 class="text-2xl font-bold mb-4 text-center">
        <img
          class="h-12 w-12 mr-4 float-left"
          src="{% static 'rehabilitacion.png' %}"
        />Rehabilitación Psicológica
      </h2>
    </div>
    <div class="bg-white p-6 rounded-full shadow-lg">
      <h2 class="text-2xl font-bold mb-4 text-center">
        <img
          class="h-12 w-12 mr-4 float-left"
          src="{% static 'consejeria-de-pareja.png' %}"
        />Terapia de Pareja
      </h2>
    </div>
    <div class="bg-white p-6 rounded-full shadow-lg">
      <h2 class="text-2xl font-bold mb-4 text-center">
        <img
          class="h-12 w-12 mr-4 float-left"
          src="{% static 'reunion.png' %}"
        />Terapia de Grupo
      </h2>
    </div>
    <div class="bg-white p-6 rounded-full shadow-lg">
      <h2 class="text-2xl font-bold mb-4 text-center">
        <img
          class="h-12 w-12 mr-4 float-left"
          src="{% static 'liderazgo.png' %}"
        />Coaching de Vida
      </h2>
    </div>
    <div class="bg-white p-6 rounded-full shadow-lg">
      <h2 class="text-2xl font-bold mb-4 text-center">
        <img
          class="h-12 w-12 mr-4 float-left"
          src="{% static 'masaje.png' %}"
        />Masaje Antiestrés
      </h2>
    </div>
    <div class="bg-white p-6 rounded-full shadow-lg">
      <h2 class="text-2xl font-bold mb-4 text-center">
        <img
          class="h-12 w-12 mr-4 float-left"
          src="{% static 'cuidados-personales.png' %}"
        />
        Autocuidado
      </h2>
    </div>
    <div class="bg-white p-6 rounded-full shadow-lg">
      <h2 class="text-2xl font-bold mb-4 text-center">
        <img
          class="h-12 w-12 mr-4 float-left"
          src="{% static 'nutricionista.png' %}"
        />NutriCoach
      </h2>
    </div>
  </div>
</div>

<!--RESERVAR CITAS-->
<div class="items-center justify-center flex">
  <button
    class="text-center mt-10 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
    onclick="window.open('https://www.doctoralia.es/maria-rojas-marcos-asensi/psicologo/sevilla#tab=profile-reviews');"
  >
    Reservar cita
  </button>
</div>

<!-- OPINIONES -->
<h3 class="text-center text-2xl mt-9 font-serif">OPINIONES</h3>
<div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-10">
  {% for o in opiniones %}
  <div
    class="p-6 shadow-md rounded-md border border-gray-950 ml-4 mr-4 hover:bg-blue-100"
  >
    <div class="flex items-center mb-2">
      <div class="ml-2 text-blue-600 text-sm">{{o.fecha}}</div>
    </div>
    <div class="text-lg font-semibold mb-2 text-center">{{o.nombre}}</div>
    <div class="text-gray-700 text-justify">{{o.comentario}}</div>
  </div>
  {% endfor %}
</div>
<div class="items-center justify-center flex text-center">
  <button
    onclick="window.open('https://www.doctoralia.es/maria-rojas-marcos-asensi/psicologo/sevilla#tab=profile-reviews');"
    class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
  >
    Ver todas las opiniones
  </button>
</div>
{% endblock %}
