{% extends 'base.html' %} {% load filters %} {% load static %} {% block content %}
<br />
{% include 'index_carrousel.html' %}

<!-- SERVICIOS -->
<div class="container mx-auto p-8">
  <h3 class="text-center text-2xl mt-9 font-bold text-lime-900">Servicios</h3>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-10">
    <div class="bg-white p-6 rounded-full shadow-lg">
      <h2 class="text-2xl font-thin mb-4 text-center text-lime-900">
        <img
          class="h-12 w-12 mr-4 float-left"
          src="{% static 'terapia.png' %}"
        />Terapia Individual
      </h2>
    </div>
    <div class="bg-white p-6 rounded-full shadow-lg">
      <h2 class="text-2xl font-thin mb-4 text-center text-lime-900">
        <img
          class="h-12 w-12 mr-4 float-left"
          src="{% static 'psicologo.png' %}"
        />Terapia para Niños y Adolescentes
      </h2>
    </div>
    <div class="bg-white p-6 rounded-full shadow-lg">
      <h2 class="text-2xl font-thin mb-4 text-center text-lime-900">
        <img
          class="h-12 w-12 mr-4 float-left"
          src="{% static 'terapia (1).png' %}"
        />Neuropsicología
      </h2>
    </div>
    <div class="bg-white p-6 rounded-full shadow-lg">
      <h2 class="text-2xl font-thin mb-4 text-center text-lime-900">
        <img
          class="h-12 w-12 mr-4 float-left"
          src="{% static 'rehabilitacion.png' %}"
        />Rehabilitación Psicológica
      </h2>
    </div>
    <div class="bg-white p-6 rounded-full shadow-lg">
      <h2 class="text-2xl font-thin mb-4 text-center text-lime-900">
        <img
          class="h-12 w-12 mr-4 float-left"
          src="{% static 'consejeria-de-pareja.png' %}"
        />Terapia de Pareja
      </h2>
    </div>
    <div class="bg-white p-6 rounded-full shadow-lg">
      <h2 class="text-2xl font-thin mb-4 text-center text-lime-900">
        <img
          class="h-12 w-12 mr-4 float-left"
          src="{% static 'reunion.png' %}"
        />Terapia de Grupo
      </h2>
    </div>
    <div class="bg-white p-6 rounded-full shadow-lg">
      <h2 class="text-2xl font-thin mb-4 text-center text-lime-900">
        <img
          class="h-12 w-12 mr-4 float-left"
          src="{% static 'liderazgo.png' %}"
        />Coaching de Vida
      </h2>
    </div>
    <div class="bg-white p-6 rounded-full shadow-lg">
      <h2 class="text-2xl font-thin mb-4 text-center text-lime-900">
        <img
          class="h-12 w-12 mr-4 float-left"
          src="{% static 'masaje.png' %}"
        />Masaje Antiestrés
      </h2>
    </div>
    <div class="bg-white p-6 rounded-full shadow-lg">
      <h2 class="text-2xl font-thin mb-4 text-center text-lime-900">
        <img
          class="h-12 w-12 mr-4 float-left"
          src="{% static 'cuidados-personales.png' %}"
        />
        Autocuidado
      </h2>
    </div>
    <div class="bg-white p-6 rounded-full shadow-lg">
      <h2 class="text-2xl font-thin mb-4 text-center text-lime-900">
        <img
          class="h-12 w-12 mr-4 float-left"
          src="{% static 'nutricionista.png' %}"
        />NutriCoach
      </h2>
    </div>
  </div>
</div>

<!--RESERVAR CITAS-->
<div class="items-center justify-center flex">
  <button
    class="text-center mt-10 bg-lime-900 hover:bg-lime-800 text-cyan-50 font-thin py-2 px-4 rounded text-xl"
    onclick="window.open('https://www.doctoralia.es/maria-rojas-marcos-asensi/psicologo/sevilla#tab=profile-reviews');"
  >
    Reservar cita en Doctoralia
  </button>
</div>

<!-- ULTIMA ENTRADA DEL BLOG -->
<div class="container mx-auto p-8">
  <h3 class="text-center text-2xl mt-9 font-bold text-lime-900">
    Última Entrada del Blog
  </h3>
  <div class="grid grid-cols-1 gap-8 mt-10">
    {% for a in articulo_mas_reciente %}
    <div
      class="bg-white p-4 sm:p-6 md:p-10 rounded-full shadow-lg overflow-hidden items-center"
    >
      <a href="{% url 'article_detail' a.titulo %}">
        <div class="flex flex-col sm:flex-row items-center">
          <img
            class="h-24 w-24 sm:h-32 sm:w-32 md:h-36 md:w-36 mr-4"
            src="{% static a.imagen|remove_static %}"
          />
          <div>
            <h2
              class="text-2xl font-thin mb-4 text-center sm:text-left text-lime-900 hover:text-lime-900 hover:font-bold"
            >
              {{a.titulo}}
            </h2>
            <p
              class="text-justify font-thin overflow-hidden h-20 mr-2 ml-2 text-base md:text-base"
              data-lines="3"
            >
              {{a.descripcion}}
            </p>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>

<!-- OPINIONES -->
<div class="container mx-auto p-8">
  <h3 class="text-center text-2xl mt-9 font-bold text-lime-900">Opiniones</h3>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-10">
    {% for o in opiniones %}
    <div
      class="bg-white p-9 rounded-full shadow-lg overflow-hidden items-center"
    >
      <div class="flex items-center mb-2">
        <div class="ml-6 text-lime-950 text-lg font-thin text-center">{{o.fecha}}</div>
      </div>
      <div class="text-lg mb-2 text-center font-thin">
        <strong>{{o.nombre}}</strong>
      </div>
      <div class="text-black text-justify font-thin ml-4">{{o.comentario}}</div>
    </div>
    {% endfor %}
  </div>
  <hr />
  <div class="items-center justify-center flex text-center">
    <button
      onclick="window.open('https://www.doctoralia.es/maria-rojas-marcos-asensi/psicologo/sevilla#tab=profile-reviews');"
      class="mt-4 bg-lime-900 hover:bg-lime-800 text-stone-50 font-thin py-2 px-4 rounded"
    >
      <strong> Ver todas las opiniones de Doctoralia </strong>
    </button>
  </div>
  
</div>
{% endblock %}
