{% extends 'base.html' %} {% block content %}
<br />
<script>
  window.addEventListener("DOMContentLoaded", (event) => {
    // Muestra la primera imagen al cargar la página
    const carouselItems = document.querySelectorAll("[data-carousel-item]");
    carouselItems[0].classList.remove("hidden");

    // Cambia a la siguiente imagen cuando se hace clic en los controles del carrusel
    const nextButton = document.querySelector("[data-carousel-next]");
    const prevButton = document.querySelector("[data-carousel-prev]");
    let currentIndex = 0;

    nextButton.addEventListener("click", () => {
      carouselItems[currentIndex].classList.add("hidden");
      currentIndex = (currentIndex + 1) % carouselItems.length;
      carouselItems[currentIndex].classList.remove("hidden");
    });

    prevButton.addEventListener("click", () => {
      carouselItems[currentIndex].classList.add("hidden");
      currentIndex =
        (currentIndex - 1 + carouselItems.length) % carouselItems.length;
      carouselItems[currentIndex].classList.remove("hidden");
    });

    // Cambia a la imagen seleccionada cuando se hace clic en los indicadores del carrusel
    const indicatorButtons = document.querySelectorAll(
      "[data-carousel-slide-to]"
    );
    indicatorButtons.forEach((button, index) => {
      button.addEventListener("click", () => {
        carouselItems[currentIndex].classList.add("hidden");
        currentIndex = index;
        carouselItems[currentIndex].classList.remove("hidden");
      });
    });

    // Transición automática
    setInterval(() => {
      carouselItems[currentIndex].classList.add("hidden");
      currentIndex = (currentIndex + 1) % carouselItems.length;
      carouselItems[currentIndex].classList.remove("hidden");
    }, 8000);
  });
</script>
<div id="default-carousel" class="relative w-full" data-carousel="slide">
  <!-- Carousel wrapper -->
  <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
    <!-- Item 1 -->
    <div class="hidden duration-200 ease-in-out" data-carousel-item>
      <img
        src="https://images.unsplash.com/photo-1499409874263-15170ac8f2a6?q=80&w=2370&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
      />
      <div
        class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white text-2xl"
      >
        ¿Listo para descubrir nuevas perspectivas y encontrar un camino que
        funcione para ti?
      </div>
    </div>
    <!-- Item 2 -->
    <div class="hidden duration-200 ease-in-out" data-carousel-item>
      <img
        src="https://images.unsplash.com/photo-1592861956120-e524fc739696?q=80&w=2370&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
      />
      <div
        class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white text-2xl"
      >
        ¿Listo para tener una relación saludable con la comida? Juntos podemos
        encontrar el equilibrio.
      </div>
    </div>
    <!-- Item 3 -->
  </div>
  <!-- Slider indicators -->
  <div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2">
    <button
      type="button"
      class="w-3 h-3 rounded-full bg-blue-500"
      aria-current="true"
      aria-label="Slide 1"
      data-carousel-slide-to="0"
    ></button>
    <button
      type="button"
      class="w-3 h-3 rounded-full bg-blue-500"
      aria-current="false"
      aria-label="Slide 2"
      data-carousel-slide-to="1"
    ></button>
    <!--AGREGAR TANTOS BOTONES COMO ITEMS HAYA ENJ EL CARUSEL-->
  </div>
  <!-- Slider controls -->
  <button
    type="button"
    class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
    data-carousel-prev
  >
    <span
      class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-blue-500/30 dark:bg-gray-800/30 group-hover:bg-blue-500/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-blue-700 dark:group-focus:ring-gray-800/70 group-focus:outline-none"
    >
      <svg
        class="w-4 h-4 text-white dark:text-white"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 6 10"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 1 1 5l4 4"
        />
      </svg>
      <span class="sr-only">Previous</span>
    </span>
  </button>
  <button
    type="button"
    class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
    data-carousel-next
  >
    <span
      class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-blue-500/30 dark:bg-gray-800/30 group-hover:bg-blue-500/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-blue-700 dark:group-focus:ring-gray-800/70 group-focus:outline-none"
    >
      <svg
        class="w-4 h-4 text-white dark:text-white"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 6 10"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m1 9 4-4-4-4"
        />
      </svg>
      <span class="sr-only">Next</span>
    </span>
  </button>
</div>

<!--AGREGAR TEXTO-->
<div>
  {% for o in opiniones %}
  <span class="text-red-500">{{o.nombre}}</span>
  {% endfor %}
</div>
{% endblock %}
