{% load static %}
<div class="relative flex items-center justify-center h-70">
  <img src="{% static 'consulta1.jpg' %}" alt="Imagen" class="w-full h-70 object-cover">
  <div class="absolute inset-0 bg-black bg-opacity-35 flex flex-col items-center justify-center transition-all duration-500 hover:opacity-75 hover:scale-105">
    <p class="text-2xl font-bold  text-lime-950 z-10">Transforma tu Vida con Apoyo Psicológico Profesional</p>
  
    <p class=" text-white mx-3">Encuentra el apoyo que necesitas para superar tus desafíos emocionales y mentales. Agenda tu consulta hoy y comienza tu camino hacia el bienestar.</p>
    
    <a href="/contacto/" class="mt-4 bg-lime-900 hover:bg-lime-800 text-stone-50 font-thin py-2 px-4 rounded transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110">Pide cita ahora</a>
  </div>
</div>