{% extends 'base.html' %}{% load filters %} {% block content %}
<div class="text-center m-16">
  <form method="post" style="max-width: 500px; margin: auto">
    {% csrf_token %} {% for field in form %}
    <div class="mb-4">
      <label
        class="block text-lime-950 font-thin mb-2 text-2xl"
        for="{{ field.id_for_label }}"
      >
        {{ field.label }}
      </label>
      {{ field|addcss:"shadow appearance-none border-black rounded w-full py-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline overflow-hidden border text-lime-950 font-thin" }}
      <br />
      {% for error in field.errors %}
      <p class="text-red-500 text-sm italic">{{ error }}</p>
      {% endfor %}
    </div>
    {% endfor %}
    <br />
    <button
      type="submit"
      class="m-10 bg-lime-950 hover:bg-lime-800 text-white font-thin py-2 px-4 rounded"
    >
      Iniciar sesión
    </button>
  </form>
</div>
{% endblock %}
