{% extends 'base.html' %} {% block content %}
<div class="grid grid-cols-2 md:grid-cols-2 gap-4 mt-10">
  <div
    class="p-6 shadow-md rounded-md border border-x-8 border-lime-950 ml-4 mr-4 hover:bg-blue-100"
  >
    <h2 class="text-2xl font-thin mb-4 text-center text-teal-950">
      <strong>Terapia de Pareja</strong>
    </h2>
    <p class="text-xl mb-2 text-justify font-thin">
      Si estás experimentando conflictos en tu relación de pareja, ofrecemos
      terapia de pareja para mejorar la comunicación, resolver problemas y
      fortalecer la conexión emocional.
    </p>
  </div>
  <div
    class="p-6 shadow-md rounded-md border border-x-8 border-lime-950 ml-4 mr-4 hover:bg-blue-100"
  >
    <h2 class="text-2xl font-thin mb-4 text-center text-teal-950">
      <strong>Terapia de Grupo</strong>
    </h2>
    <p class="text-lg mb-2 text-justify font-thin">
      Ofrecemos grupos terapéuticos para abordar temas específicos, como
      ansiedad, depresión, manejo del estrés y habilidades sociales. La terapia
      de grupo proporciona un entorno de apoyo donde puedes aprender y crecer
      junto con otros.
    </p>
  </div>
</div>

{% endblock %}
