{% extends 'base.html' %} {% block content %}
<div class="grid grid-cols-1 md:grid-cols-1 gap-4 mt-10 p-6">
  <div class="bg-white p-6 rounded-full shadow-lg overflow-hidden">
    <h2 class="text-2xl font-thin mb-4 text-center text-teal-950">
      <strong>Terapia Individual</strong>
    </h2>
    <p class="text-lg mb-2 text-justify font-thin">
      María Rojas-Marcos y su equipo de psicólogos ofrecen terapia individual a
      adultos, presencial u online. En la terapia, te ayudaremos a abordar una
      variedad de preocupaciones emocionales y psicológicas. Trabajamos contigo
      para superar obstáculos, desarrollar habilidades de afrontamiento y
      mejorar tu calidad de vida.
    </p>
  </div>
</div>
{% endblock %}
