{% extends 'base.html' %} {% block content %}
<div class="relative overflow-x-auto p-24 container">
  <div class="flex flex-col items-center px-4 sm:px-0">
    <div class="py-10 items-center">
      <p class="text-center mb-10 text-2xl text-lime-900 font-thin">
        Bienestar Integral para Todos
      </p>
      <p class="text-left">
        En nuestro centro dedicado al bienestar integral, nos enorgullece
        ofrecer una amplia gama de servicios diseñados meticulosamente para
        promover tu salud física, emocional y mental. Desde terapias
        especializadas hasta tratamientos relajantes, estamos aquí para ayudarte
        a alcanzar un equilibrio óptimo en todas las áreas de tu vida.
      </p>
    </div>
    <ul class="mt-10 mb-10 space-y-8">
      <li>
        <h2 class="text-lime-900 font-bold text-xl text-center">
          Terapia para Adultos
        </h2>
        <p class="mt-4">
          Nuestro enfoque terapéutico para adultos se basa en la psicoterapia
          individualizada, tanto presencial como en línea. A través de un
          ambiente de confianza y confidencialidad, nuestros terapeutas
          altamente capacitados te ayudarán a identificar y abordar una amplia
          gama de preocupaciones emocionales y psicológicas. Desde el manejo del
          estrés hasta el desarrollo de habilidades de afrontamiento,
          trabajaremos contigo para mejorar tu bienestar general y tu calidad de
          vida.
        </p>
      </li>
      <li>
        <h2 class="text-lime-900 font-bold text-xl text-center">
          Terapia para Niños y Adolescentes
        </h2>
        <p class="mt-4">
          Nuestra terapia especializada para niños y adolescentes se centra en
          proporcionar un espacio seguro y de apoyo para abordar desafíos
          emocionales, académicos y de desarrollo. Utilizando técnicas adaptadas
          a su edad, ayudamos a los jóvenes a comprender y manejar sus
          emociones, fortalecer su autoestima y desarrollar habilidades para
          enfrentar los desafíos de la vida.
        </p>
      </li>
      <li>
        <h2 class="text-lime-900 font-bold text-xl text-center">
          Programa de Reducción del Estrés de Ocho Semanas.
        </h2>
        <p class="mt-4">
          Sumérgete en un viaje hacia el bienestar completo con nuestro
          innovador Programa de Reducción del Estrés en Ocho Semanas. Esta
          experiencia única combina la terapia psicológica experta con nuestros
          masajes antiestrés diseñados para liberar tensiones acumuladas,
          brindándote una solución integral para enfrentar el estrés en todas
          sus dimensiones.
        </p>
      </li>
      <li>
        <h2 class="text-lime-900 font-bold text-xl text-center">
          Autocuidado y Autoimagen:
        </h2>
        <p class="mt-4">
          Nuestra filosofía de autocuidado se centra en la importancia de nutrir
          tu cuerpo, mente y espíritu. A través del asesoramiento de imagen,
          aprenderás a proyectar una imagen auténtica y segura que refleje tu
          verdadero yo. Además, te proporcionaremos las herramientas y técnicas
          necesarias para desarrollar prácticas de autocuidado efectivas que te
          ayudarán a mantener un estado óptimo de bienestar a largo plazo.
        </p>
      </li>
      <li>
        <h2 class="text-lime-900 font-bold text-xl text-center">
          Coaching Personal y Profesional:
        </h2>
        <p class="mt-4">
          Nuestro servicio de coaching personal y profesional está diseñado para
          ayudarte a alcanzar tus metas y maximizar tu potencial en todas las
          áreas de tu vida. Ya sea que estés buscando crecimiento personal,
          éxito profesional o equilibrio entre trabajo y vida, nuestros coaches
          certificados te brindarán el apoyo y la orientación necesarios para
          convertir tus sueños en realidad. Con un enfoque basado en resultados,
          te ayudaremos a superar obstáculos, identificar oportunidades y crear
          un plan de acción claro y realista para alcanzar tus objetivos.
        </p>
      </li>
    </ul>
  </div>

  <section class="ml-3 text-xl text-lime-800 font-thin">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
      <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
          <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-text-lime-800">Precios de sesiones</h2>
          <p class="mb-5 font-light text-gray-500 sm:text-xl dark:text-gray-400">Elige el tipo de sesión más adecuado para ti. Puedes elegir también nuestros programas antiestrés y siempre tienes la opción de consultarnos para que te asesores de la mejor forma.</p>
      </div>
      <div class="space-y-8 lg:grid lg:grid-cols-3 sm:gap-6 xl:gap-10 lg:space-y-0">
          <!-- Pricing Card -->
          <div class="flex flex-col p-6 mx-auto max-w-lg text-center text-cyan-50 body-font bg-teal-950 rounded-lg border border-gray-100 shadow">
              <h3 class="mb-4 text-2xl font-semibold">Normal</h3>
              <p class="font-light text-gray-500 sm:text-lg dark:text-gray-400">Opción para la mayoría de los pacientes que quieren alcanzar bienestar emocional</p>
              <div class="flex justify-center items-baseline my-8">
                  <span class="mr-2 text-5xl font-extrabold">70€</span>
                  <span class="text-gray-500 dark:text-gray-400">/60€x4</span>
              </div>
              <!-- List -->
              <ul role="list" class="mb-8 space-y-4 text-left">
                  <li class="flex items-center space-x-3">
                    <!-- Icon -->
                    <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                    <span>Posibilidad de bono: <span class="font-semibold">4 sesiones</span></span>
                  </li>
                  <li class="flex items-center space-x-3">
                      <!-- Icon -->
                      <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                      <span>Sesión Individual</span>
                  </li>
                  <li class="flex items-center space-x-3">
                      <!-- Icon -->
                      <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                      <span>Sesión Adolescentes</span>
                  </li>
                  
                  <li class="flex items-center space-x-3">
                      <!-- Icon -->
                      <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                      <span>Neuropsicología</span>
                  </li>
                  <li class="flex items-center space-x-3">
                      <!-- Icon -->
                      <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                      <span>Autocuidado y Autoimagen</span>
                  </li>
                  <li class="flex items-center space-x-3">
                    <!-- Icon -->
                    <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                    <span>Coaching de la vida <span class="font-semibold">Nutricoach</span></span>
                  </li>
              </ul>
              <a href="{% url 'contacto' %}" class="text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:ring-primary-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:text-white  dark:focus:ring-primary-900">Pedir cita</a>
          </div>
          <!-- Pricing Card -->
          <div class="flex flex-col p-6 mx-auto max-w-lg text-center text-cyan-50 body-font bg-teal-950 rounded-lg border border-gray-100 shadow">
              <h3 class="mb-4 text-2xl font-semibold">Dobles</h3>
              <p class="font-light text-gray-500 sm:text-lg dark:text-gray-400">Sesiones especializadas en el tratamiento de las relaciones entre dos individuos </p>
              <div class="flex justify-center items-baseline my-8">
                  <span class="mr-2 text-5xl font-extrabold">90€</span>
                  <span class="text-gray-500 dark:text-gray-400">/75€x4</span>
              </div>
              <!-- List -->
              <ul role="list" class="mb-8 space-y-4 text-left">
                  <li class="flex items-center space-x-3">
                      <!-- Icon -->
                      <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                      <span>Posibilidad de bono: <span class="font-semibold">4 sesiones</span></span>
                  </li>
                  <li class="flex items-center space-x-3">
                      <!-- Icon -->
                      <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                      <span>Terapia de Parejas</span>
                  </li>
                  
              </ul>
              <a href="{% url 'contacto' %}" class="text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:ring-primary-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:text-white  dark:focus:ring-primary-900">Pedir cita</a>
          </div>
          <!-- Pricing Card -->
          <div class="flex flex-col p-6 mx-auto max-w-lg text-center text-cyan-50 body-font bg-teal-950 rounded-lg border border-gray-100 shadow">
              <h3 class="mb-4 text-2xl font-semibold">Adaptado</h3>
              <p class="font-light text-gray-500 sm:text-lg dark:text-gray-400">Sesiones acomodades a necesidades especiales</p>
              <div class="flex justify-center items-baseline my-8">
                  <span class="mr-2 text-5xl font-extrabold">60€</span>
                  <span class="text-gray-500 dark:text-gray-400">/50€x4</span>
              </div>
              <!-- List -->
              <ul role="list" class="mb-8 space-y-4 text-left">
                  <li class="flex items-center space-x-3">
                      <!-- Icon -->
                      <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                      <span>Posibilidad de bono: <span class="font-semibold">4 sesiones</span></span>
                  </li>
                  <li class="flex items-center space-x-3">
                      <!-- Icon -->
                      <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                      <span>Terapia Infantil <span class="font-semibold">45 minutos</span></span>
                  </li>
                  <li class="flex items-center space-x-3">
                      <!-- Icon -->
                      <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                      <span>Rehabilitación psicológica</span>
                  </li>
              </ul>
              <a href="{% url 'contacto' %}" class="text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:ring-primary-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:text-white  dark:focus:ring-primary-900">Pedir cita</a>
          </div>
          <div class="flex flex-col p-6 mx-auto max-w-lg text-center text-cyan-50 body-font bg-teal-950 rounded-lg border border-gray-100 shadow">
            <h3 class="mb-4 text-2xl font-semibold">Programa de reducción antiestrés</h3>
            <p class="font-light text-gray-500 sm:text-lg dark:text-gray-400">Programa integral para la reducción del estés</p>
            <div class="flex justify-center items-baseline my-8">
                <span class="mr-2 text-5xl font-extrabold">1120€</span>
            </div>
            <!-- List -->
            <ul role="list" class="mb-8 space-y-4 text-left">
                <li class="flex items-center space-x-3">
                    <!-- Icon -->
                    <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                    <span>Masaje antiestrés <span class="font-semibold">4 sesiones</span></span>
                </li>
                <li class="flex items-center space-x-3">
                    <!-- Icon -->
                    <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                    <span>Taller de reducción del estrés <span class="font-semibold">4 sesiones</span></span>
                </li>
            </ul>
            <a href="{% url 'contacto' %}" class="text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:ring-primary-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:text-white  dark:focus:ring-primary-900">Pedir cita</a>
          </div>
          <div class="flex flex-col p-6 mx-auto max-w-lg text-center text-cyan-50 body-font bg-teal-950 rounded-lg border border-gray-100 shadow">
            <h3 class="mb-4 text-2xl font-semibold">Programa de reducción antiestrés II</h3>
            <p class="font-light text-gray-500 sm:text-lg dark:text-gray-400">Programa integral para la reducción del estés</p>
            <div class="flex justify-center items-baseline my-8">
                <span class="mr-2 text-5xl font-extrabold">2180€</span>
            </div>
            <!-- List -->
            <ul role="list" class="mb-8 space-y-4 text-left">
                <li class="flex items-center space-x-3">
                    <!-- Icon -->
                    <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                    <span>Masaje antiestrés <span class="font-semibold">4 sesiones</span></span>
                </li>
                <li class="flex items-center space-x-3">
                    <!-- Icon -->
                    <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                    <span>Terapia Psicológica <span class="font-semibold">4 sesiones</span></span>
                </li>
            </ul>
            <a href="{% url 'contacto' %}" class="text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:ring-primary-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:text-white  dark:focus:ring-primary-900">Pedir cita</a>
          </div>
          <div class="flex flex-col p-6 mx-auto max-w-lg text-center text-cyan-50 body-font bg-teal-950 rounded-lg border border-gray-100 shadow">
            <h3 class="mb-4 text-2xl font-semibold">Programa de reducción antiestrés III</h3>
            <p class="font-light text-gray-500 sm:text-lg dark:text-gray-400">Programa integral para la reducción del estés</p>
            <div class="flex justify-center items-baseline my-8">
                <span class="mr-2 text-5xl font-extrabold">3240€</span>
            </div>
            <!-- List -->
            <ul role="list" class="mb-8 space-y-4 text-left">
                <li class="flex items-center space-x-3">
                    <!-- Icon -->
                    <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                    <span>Terapia Psicológica <span class="font-semibold">8 sesiones</span></span>
                </li>
            </ul>
            <a href="{% url 'contacto' %}" class="text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:ring-primary-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:text-white  dark:focus:ring-primary-900">Pedir cita</a>
          </div>
      </div>
  </div>
</section>
</div>
{% endblock %}
