{% extends 'base.html' %} {% block content %}
<div class="relative overflow-x-auto p-24 container">
  <div class="flex flex-col items-center px-4 sm:px-0">
    <div class="py-10 items-center">
      <p class="text-center mb-10 text-2xl text-lime-900 font-thin">
        Bienestar Integral para Todos
      </p>
      <p class="text-left">
        En nuestro centro dedicado al bienestar integral, nos enorgullece
        ofrecer una amplia gama de servicios diseñados meticulosamente para
        promover tu salud física, emocional y mental. Desde terapias
        especializadas hasta tratamientos relajantes, estamos aquí para ayudarte
        a alcanzar un equilibrio óptimo en todas las áreas de tu vida.
      </p>
    </div>
    <ul class="mt-10 mb-10 space-y-8">
      <li>
        <h2 class="text-lime-900 font-bold text-xl text-center">
          Terapia para Adultos
        </h2>
        <p class="mt-4">
          Nuestro enfoque terapéutico para adultos se basa en la psicoterapia
          individualizada, tanto presencial como en línea. A través de un
          ambiente de confianza y confidencialidad, nuestros terapeutas
          altamente capacitados te ayudarán a identificar y abordar una amplia
          gama de preocupaciones emocionales y psicológicas. Desde el manejo del
          estrés hasta el desarrollo de habilidades de afrontamiento,
          trabajaremos contigo para mejorar tu bienestar general y tu calidad de
          vida.
        </p>
      </li>
      <li>
        <h2 class="text-lime-900 font-bold text-xl text-center">
          Terapia para Niños y Adolescentes
        </h2>
        <p class="mt-4">
          Nuestra terapia especializada para niños y adolescentes se centra en
          proporcionar un espacio seguro y de apoyo para abordar desafíos
          emocionales, académicos y de desarrollo. Utilizando técnicas adaptadas
          a su edad, ayudamos a los jóvenes a comprender y manejar sus
          emociones, fortalecer su autoestima y desarrollar habilidades para
          enfrentar los desafíos de la vida.
        </p>
      </li>
      <li>
        <h2 class="text-lime-900 font-bold text-xl text-center">
          Programa de Reducción del Estrés de Ocho Semanas.
        </h2>
        <p class="mt-4">
          Sumérgete en un viaje hacia el bienestar completo con nuestro
          innovador Programa de Reducción del Estrés en Ocho Semanas. Esta
          experiencia única combina la terapia psicológica experta con nuestros
          masajes antiestrés diseñados para liberar tensiones acumuladas,
          brindándote una solución integral para enfrentar el estrés en todas
          sus dimensiones.
        </p>
      </li>
      <li>
        <h2 class="text-lime-900 font-bold text-xl text-center">
          Autocuidado y Autoimagen:
        </h2>
        <p class="mt-4">
          Nuestra filosofía de autocuidado se centra en la importancia de nutrir
          tu cuerpo, mente y espíritu. A través del asesoramiento de imagen,
          aprenderás a proyectar una imagen auténtica y segura que refleje tu
          verdadero yo. Además, te proporcionaremos las herramientas y técnicas
          necesarias para desarrollar prácticas de autocuidado efectivas que te
          ayudarán a mantener un estado óptimo de bienestar a largo plazo.
        </p>
      </li>
      <li>
        <h2 class="text-lime-900 font-bold text-xl text-center">
          Coaching Personal y Profesional:
        </h2>
        <p class="mt-4">
          Nuestro servicio de coaching personal y profesional está diseñado para
          ayudarte a alcanzar tus metas y maximizar tu potencial en todas las
          áreas de tu vida. Ya sea que estés buscando crecimiento personal,
          éxito profesional o equilibrio entre trabajo y vida, nuestros coaches
          certificados te brindarán el apoyo y la orientación necesarios para
          convertir tus sueños en realidad. Con un enfoque basado en resultados,
          te ayudaremos a superar obstáculos, identificar oportunidades y crear
          un plan de acción claro y realista para alcanzar tus objetivos.
        </p>
      </li>
    </ul>
  </div>

  {% include 'precioServicios.html' %}
</div>
{% endblock %}
