{% extends 'base.html' %} {% block content %}
<div class="grid grid-cols-2 md:grid-cols-2 gap-4 mt-10 p-6">
  <div class="bg-white p-6 rounded-full shadow-lg overflow-hidden">
    <h2 class="text-2xl font-thin mb-4 text-center text-teal-950">
      <strong>Neuropsicología</strong>
    </h2>
    <p class="text-lg mb-2 text-justify font-thin">
      Nuestros especialistas en neuropsicología están capacitados para evaluar y
      tratar trastornos neuropsicológicos y problemas cognitivos. Ofrecemos un
      enfoque personalizado para mejorar tu función cerebral y calidad de vida.
    </p>
  </div>
  <div class="bg-white p-6 rounded-full shadow-lg">
    <h2 class="text-2xl font-thin mb-4 text-center text-teal-950">
      <strong>Rehabilitación Psicológica</strong>
    </h2>
    <p class="text-lg mb-2 text-justify font-thin">
      Si estás recuperándote de un trauma o una lesión emocional, nuestro equipo
      de rehabilitación psicológica te ayudará a reconstruir y fortalecer tu
      bienestar emocional.
    </p>
  </div>
  <div class="bg-white p-6 rounded-full shadow-lg">
    <h2 class="text-2xl font-thin mb-4 text-center text-teal-950">
      <strong>Coaching de Vida</strong>
    </h2>
    <p class="text-lg mb-2 text-justify font-thin">
      Nuestros coaches te guiarán en la búsqueda de tus objetivos personales y
      profesionales, proporcionándote las herramientas necesarias para alcanzar
      el éxito y la realización.
    </p>
  </div>
  <div class="bg-white p-6 rounded-full shadow-lg">
    <h2 class="text-2xl font-thin mb-4 text-center text-teal-950">
      <strong>Masaje Antiestrés</strong>
    </h2>
    <p class="text-lg mb-2 text-justify font-thin">
      Sumérgete en un oasis de relajación con nuestros masajes antiestrés,
      diseñados para aliviar la tensión y restaurar tu equilibrio interior.
    </p>
  </div>

  <div class="bg-white p-6 rounded-full shadow-lg">
    <h2 class="text-2xl font-thin mb-4 text-center text-teal-950">
      <strong>Autocuidado</strong>
    </h2>
    <p class="text-lg mb-2 text-justify font-thin">
      Promovemos el autocuidado como parte integral de tu bienestar. Aprende a
      cuidarte a ti mismo de manera sana y efectiva. Descubre cómo proyectar tu
      mejor versión con el asesoramiento de imagen. Potencia tu confianza y
      presencia.
    </p>
  </div>
  <div class="bg-white p-6 rounded-full shadow-lg">
    <h2 class="text-2xl font-thin mb-4 text-center text-teal-950">
      <strong>NutriCoach</strong>
    </h2>
    <p class="text-lg mb-2 text-justify font-thin">
      Te ayudaremos a alcanzar tus objetivos de salud, proporcionándote
      orientación personalizada y consejos para construir unos hábitos
      saludables.
    </p>
  </div>
</div>

{% endblock %}
