{% extends 'base.html' %} {% block content %}
<div class="relative overflow-x-auto p-24 container">
  <div class="flex flex-col items-center">
    <div
      class="bg-white p-10 rounded-full border-x-4 border-teal-950 shadow-lg overflow-hidden items-center"
    >
      <p class="font-thin text-lg mx-3 md:mx-24">
        En nuestra terapia de pareja, adoptamos una perspectiva integral que
        reconoce la complejidad única de cada relación. Entendemos que las
        parejas pueden enfrentar una variedad de desafíos que van más allá de
        simples desacuerdos o conflictos superficiales. Trabajamos desde una
        base de comprensión profunda y empatía, creando un espacio seguro y
        confidencial donde ambas partes puedan expresar sus preocupaciones y
        necesidades.
        <br />
        <br />
        Algunos de los problemas principales que solemos abordar en la terapia
        de pareja incluyen:
      </p>
    </div>
    <br />
    <ul class="mt-10 mb-10">
      <div
        class="bg-white p-10 rounded-t-full border-x-4 border-green-300 shadow-lg overflow-hidden items-center"
      >
        <li class="font-thin text-xl list-decimal mx-10 md:mx-24">
          <strong>Comunicación Deficiente:</strong> La comunicación efectiva es
          fundamental para una relación saludable. Ayudamos a las parejas a
          identificar patrones de comunicación poco saludables, como la
          evitación, la crítica o la falta de escucha activa, y les
          proporcionamos herramientas para mejorar la comunicación y la
          comprensión mutua.
        </li>
      </div>
      <br />
      <div
        class="bg-white p-10 rounded-t-full border-x-4 border-green-300 shadow-lg overflow-hidden items-center"
      >
        <li class="font-thin text-xl list-decimal mx-10 md:mx-24">
          <strong>Conflictos y Desacuerdos:</strong> Todas las parejas enfrentan
          conflictos en algún momento, pero es cómo se gestionan esos conflictos
          lo que determina la salud de la relación. Trabajamos con las parejas
          para identificar las causas subyacentes de los conflictos, explorar
          compromisos y desarrollar habilidades para resolver problemas de
          manera constructiva.
        </li>
      </div>
      <br />
      <div
        class="bg-white p-10 rounded-t-full border-x-4 border-green-300 shadow-lg overflow-hidden items-center"
      >
        <li class="font-thin text-xl list-decimal mx-10 md:mx-24">
          <strong>Problemas de Intimidad y Conexión Emocional:</strong> La
          intimidad emocional y física son componentes clave de una relación
          satisfactoria. Ayudamos a las parejas a reconectar emocionalmente, a
          explorar y comprender sus necesidades individuales y a cultivar una
          mayor intimidad y conexión en su relación.
        </li>
      </div>
      <br />
      <div
        class="bg-white p-10 rounded-t-full border-x-4 border-green-300 shadow-lg overflow-hidden items-center"
      >
        <li class="font-thin text-xl list-decimal mx-10 md:mx-24">
          <strong>Crisis de Confianza:</strong> La confianza es fundamental en
          cualquier relación. Trabajamos con las parejas para reconstruir la
          confianza perdida, abordar las preocupaciones de traición o engaño y
          establecer nuevas formas de confiar y apoyarse mutuamente.
        </li>
      </div>
      <br />
      <div
        class="bg-white p-10 rounded-t-full border-x-4 border-green-300 shadow-lg overflow-hidden items-center"
      >
        <li class="font-thin text-xl list-decimal mx-10 md:mx-24">
          <strong>Cambios en la Relación:</strong> Las transiciones importantes
          en la vida, como la llegada de un hijo, cambios laborales o mudanzas,
          pueden afectar la dinámica de la relación. Ayudamos a las parejas a
          adaptarse a estos cambios, a comunicarse de manera efectiva y a
          mantener una conexión sólida a lo largo del proceso.
        </li>
      </div>
    </ul>
    <br />
    <div
      class="bg-white p-10 rounded-full border-x-4 border-teal-950 shadow-lg overflow-hidden items-center"
    >
      <p class="font-thin text-lg mx-3 md:mx-24">
        En resumen, nuestra terapia de pareja se centra en crear un espacio de
        comprensión, comunicación y crecimiento mutuo. Trabajamos en
        colaboración con las parejas para identificar y abordar los desafíos
        específicos que enfrentan, promoviendo así una relación más saludable,
        satisfactoria y duradera.
      </p>
    </div>
  </div>
</div>
{% endblock %}
