{% extends 'base.html' %} {% block content %}
<div class="relative overflow-x-auto p-24 container">
  <div class="flex flex-col items-center">
    <div
      class="bg-white p-10 rounded-full border-x-4 border-teal-950 shadow-lg overflow-hidden items-center"
    >
      <p class="font-thin text-lg mx-3 md:mx-24">
        Estos son solo algunos de los trastornos más comunes que abordamos en la
        terapia individual de adultos. Cada persona es única, y trabajamos de
        manera colaborativa para adaptar el enfoque terapéutico a las
        necesidades individuales de cada cliente, promoviendo así un mayor
        bienestar emocional y una vida más satisfactoria.
      </p>
    </div>
    <br />
    <ul class="mt-10 mb-10">
      <div
        class="bg-white p-10 rounded-t-full border-x-4 border-green-300 shadow-lg overflow-hidden items-center"
      >
        <li class="font-thin text-xl list-decimal mx-10 md:mx-24">
          <strong>Gestión del Estrés y Ansiedad:</strong> La ansiedad es una
          respuesta natural del cuerpo ante situaciones estresantes, pero cuando
          se vuelve persistente e incapacitante, puede interferir
          significativamente en la vida diaria. Los síntomas pueden incluir
          preocupación excesiva, tensión muscular, dificultad para concentrarse,
          irritabilidad y problemas para conciliar el sueño. En la terapia,
          trabajamos para identificar y comprender los desencadenantes de la
          ansiedad, desarrollar técnicas de relajación y manejo del estrés, y
          reestructurar pensamientos irracionales para promover una mayor
          tranquilidad y control.
        </li>
      </div>
      <br />
      <div
        class="bg-white p-10 rounded-t-full border-x-4 border-green-300 shadow-lg overflow-hidden items-center"
      >
        <li class="font-thin text-xl list-decimal mx-10 md:mx-24">
          <strong>Depresión:</strong> La depresión es más que simplemente
          sentirse triste; es un trastorno del estado de ánimo que puede afectar
          todas las áreas de la vida, incluyendo el trabajo, las relaciones y la
          salud física. Los síntomas pueden incluir sentimientos de tristeza
          persistente, pérdida de interés en actividades que antes se
          disfrutaban, fatiga, cambios en el apetito o el peso, dificultad para
          concentrarse y pensamientos suicidas. En la terapia, trabajamos para
          identificar las causas subyacentes de la depresión, desarrollar
          estrategias para mejorar el estado de ánimo y promover una mayor
          autoestima y bienestar emocional.
        </li>
      </div>
      <br />
      <div
        class="bg-white p-10 rounded-t-full border-x-4 border-green-300 shadow-lg overflow-hidden items-center"
      >
        <li class="font-thin text-xl list-decimal mx-10 md:mx-24">
          <strong>Trauma y Estrés Postraumático:</strong> El trauma puede surgir
          como resultado de experiencias abrumadoras, como abuso, violencia,
          accidentes graves o eventos traumáticos. Los síntomas pueden incluir
          recuerdos intrusivos, pesadillas, evitación de ciertos lugares o
          situaciones, ansiedad, irritabilidad y dificultades para regular las
          emociones. En la terapia, utilizamos enfoques especializados, como la
          terapia cognitivo-conductual y la terapia de desensibilización, para
          ayudar a procesar y sanar las heridas emocionales del trauma,
          promoviendo la resiliencia y la recuperación.
        </li>
      </div>
      <br />
      <div
        class="bg-white p-10 rounded-t-full border-x-4 border-green-300 shadow-lg overflow-hidden items-center"
      >
        <li class="font-thin text-xl list-decimal mx-10 md:mx-24">
          <strong>Miedos y Fobias:</strong> Las fobias son miedos irracionales y
          extremos hacia objetos, situaciones o actividades específicas que
          desencadenan ansiedad intensa. Pueden incluir fobias específicas, como
          miedo a los animales, alturas o espacios cerrados, así como fobias
          sociales, como el miedo al juicio o la vergüenza en situaciones
          sociales. Las personas con fobias pueden experimentar ataques de
          pánico, sudoración, temblores y evitación extrema de las situaciones
          temidas. En la terapia, trabajamos para identificar los
          desencadenantes de las fobias, desafiar las creencias irracionales y
          desarrollar estrategias de afrontamiento para enfrentar gradualmente
          las situaciones temidas, promoviendo así una mayor libertad y calidad
          de vida.
        </li>
      </div>
      <br />
      <div
        class="bg-white p-10 rounded-t-full border-x-4 border-green-300 shadow-lg overflow-hidden items-center"
      >
        <li class="font-thin text-xl list-decimal mx-10 md:mx-24">
          <strong>Obsesiones y Compulsiones:</strong> El Trastorno Obsesivo
          Compulsivo es un trastorno caracterizado por pensamientos obsesivos
          recurrentes y comportamientos compulsivos repetitivos que buscan
          aliviar la ansiedad asociada. Los pensamientos obsesivos pueden
          incluir miedo a la contaminación, preocupación por la seguridad o
          pensamientos de agresión, mientras que las compulsiones pueden
          manifestarse en rituales de limpieza, verificación o conteo. El TOC
          puede interferir significativamente en la vida diaria y causar un gran
          malestar. En la terapia, trabajamos para entender las causas
          subyacentes del TOC, desafiar los pensamientos distorsionados y
          desarrollar estrategias para reducir las compulsiones y vivir de
          manera más libre y satisfactoria.
        </li>
      </div>
      <br />
      <div
        class="bg-white p-10 rounded-t-full border-x-4 border-green-300 shadow-lg overflow-hidden items-center"
      >
        <li class="font-thin text-xl list-decimal mx-10 md:mx-24">
          <strong>Problemas de Gestión Emocional:</strong> La gestión emocional
          se refiere a la habilidad para reconocer, comprender y regular
          nuestras emociones de manera saludable y efectiva. Los problemas en
          este ámbito pueden manifestarse en dificultades para controlar la ira,
          manejar el estrés, lidiar con la tristeza o regular la ansiedad. Estos
          problemas pueden interferir en las relaciones interpersonales, el
          rendimiento laboral y el bienestar general. En la terapia, trabajamos
          para identificar patrones de pensamiento y comportamiento que
          contribuyan a los problemas de gestión emocional, enseñamos técnicas
          de autocontrol emocional y promovemos habilidades de afrontamiento más
          adaptativas, facilitando así una mayor estabilidad emocional y
          satisfacción en la vida diaria.
        </li>
      </div>
    </ul>
    <br />
    <div
      class="bg-white p-10 rounded-full border-x-4 border-teal-950 shadow-lg overflow-hidden items-center"
    >
      <p class="font-thin text-lg mx-3 md:mx-24">
        Estos son algunos de los desafíos adicionales que pueden abordarse en la
        terapia individual de adultos. Cada uno de estos problemas puede tener
        un impacto significativo en la vida diaria de una persona, pero con el
        apoyo adecuado y las estrategias apropiadas, es posible superarlos y
        alcanzar un mayor bienestar emocional y mental.
      </p>
    </div>
  </div>
</div>
{% endblock %}
