{% extends 'base.html' %} {% block content %}
<div class="relative overflow-x-auto p-4 md:p-24 container">
  <h2 class="text-center text-2xl mt-9 font-bold text-lime-900">Terapia de Parejas</h2>
  <br/>
  <div class="flex flex-col items-center">
    
      <p class="font-thin text-lg mx-3 md:mx-24">
        En nuestra terapia de pareja, adoptamos una perspectiva integral que
        reconoce la complejidad única de cada relación. Entendemos que las
        parejas pueden enfrentar una variedad de desafíos que van más allá de
        simples desacuerdos o conflictos superficiales. Trabajamos desde una
        base de comprensión profunda y empatía, creando un espacio seguro y
        confidencial donde ambas partes puedan expresar sus preocupaciones y
        necesidades.
        <br />
        <br />
        Algunos de los problemas principales que solemos abordar en la terapia
        de pareja incluyen:
      </p>
    
    <br />
    <ul class="mt-5 mb-5">

      <div class="flex items-center justify-center  mx-0.5 md:mx-auto">
        <div class="relative flex w-full max-w-[48rem] flex-row rounded-xl bg-white bg-clip-border text-teal-950 shadow-md">
          <div class="relative m-0 w-1/3 shrink-0 overflow-hidden rounded-xl rounded-r-none bg-white bg-clip-border text-gray-700">
            <img
              src="https://img.freepik.com/foto-gratis/callate-mujer-hermosa-desconcertada-mantiene-palma-cerca-boca-marido_273609-44071.jpg?t=st=1713549478~exp=1713553078~hmac=daa0cc94f5bc64327e33c3dfbe3c4d153877fc21ac37dbb09536eb584573a8b4&w=1800"
              alt="image"
              class="h-full w-full object-cover"
            />
          </div>
          <div class="p-6">
            <h6 class="mb-4 text-base font-bold leading-relaxed tracking-normal text-lime-900 antialiased">
              Terapia de Parejas
            </h6>
            <h4 class="mb-2  text-2xl font-bold leading-snug tracking-normal text-lime-800 antialiased">
              Comunicación Deficiente
            </h4>
            <p class="mb-8 text-base font-thin leading-relaxed text-gray-700 antialiased">
              La comunicación efectiva es
          fundamental para una relación saludable. Ayudamos a las parejas a
          identificar patrones de comunicación poco saludables, como la
          evitación, la crítica o la falta de escucha activa, y les
          proporcionamos herramientas para mejorar la comunicación y la
          comprensión mutua.
            </p>
            
          </div>
        </div>
      </div>

      <div class="flex items-center justify-center  mx-0.5 md:mx-auto">
        <div class="relative flex w-full max-w-[48rem] flex-row rounded-xl bg-white bg-clip-border text-teal-950 shadow-md">
          <div class="relative m-0 w-1/3 shrink-0 overflow-hidden rounded-xl rounded-r-none bg-white bg-clip-border text-gray-700">
            <img
              src="https://images.unsplash.com/photo-1604881991720-f91add269bed?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTEwfHxjb3VwbGUlMjB0cm91YmxlfGVufDB8fDB8fHww"
              alt="image"
              class="h-full w-full object-cover"
              />
          </div>
          <div class="p-6">
            <h6 class="mb-4 text-base font-bold leading-relaxed tracking-normal text-lime-900 antialiased">
              Terapia de Parejas
            </h6>
            <h4 class="mb-2  text-2xl font-bold leading-snug tracking-normal text-lime-800 antialiased">
              Conflictos y Desacuerdos
            </h4>
            <p class="mb-8 text-base font-thin leading-relaxed text-gray-700 antialiased">
                Todas las parejas enfrentan
          conflictos en algún momento, pero es cómo se gestionan esos conflictos
          lo que determina la salud de la relación. Trabajamos con las parejas
          para identificar las causas subyacentes de los conflictos, explorar
          compromisos y desarrollar habilidades para resolver problemas de
          manera constructiva.
            </p>
          </div> 
        </div>
      </div>
      <div class="flex items-center justify-center  mx-0.5 md:mx-auto">
        <div class="relative flex w-full max-w-[48rem] flex-row rounded-xl bg-white bg-clip-border text-teal-950 shadow-md">
          <div class="relative m-0 w-1/3 shrink-0 overflow-hidden rounded-xl rounded-r-none bg-white bg-clip-border text-gray-700">
            <img
              src="https://images.unsplash.com/photo-1527814424095-5204f0aea488?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTQzfHxjb3VwbGUlMjB0cm91YmxlfGVufDB8fDB8fHww"
              alt="image"
              class="h-full w-full object-cover"
              />
          </div>
          <div class="p-6">
            <h6 class="mb-4 text-base font-bold leading-relaxed tracking-normal text-lime-900 antialiased">
               Terapia de Parejas
            </h6>
            <h4 class="mb-2  text-2xl font-bold leading-snug tracking-normal text-lime-800 antialiased">
                Problemas de Intimidad y Conexión Emocional
            </h4>
            <p class="mb-8 text-base font-thin leading-relaxed text-gray-700 antialiased">
                  La
                  intimidad emocional y física son componentes clave de una relación
                  satisfactoria. Ayudamos a las parejas a reconectar emocionalmente, a
                  explorar y comprender sus necesidades individuales y a cultivar una
                  mayor intimidad y conexión en su relación.
            </p>
          </div>      
        </div>
      </div>
        <div class="flex items-center justify-center  mx-0.5 md:mx-auto">
          <div class="relative flex w-full max-w-[48rem] flex-row rounded-xl bg-white bg-clip-border text-teal-950 shadow-md">
            <div class="relative m-0 w-1/3 shrink-0 overflow-hidden rounded-xl rounded-r-none bg-white bg-clip-border text-gray-700">
              <img
                src="https://img.freepik.com/foto-gratis/esposa-celosa-mantiene-brazos-cruzados-mira-expresion-disgusto-al-esposo-que-ignora-juega-juegos-linea-telefono-movil-conversa-amigos_273609-23424.jpg?t=st=1713549591~exp=1713553191~hmac=61e2b77c884caf67f2cdba233900c701b01d01df899cc45e51a6e69b7d40b604&w=1800"
                alt="image"
                class="h-full w-full object-cover"
                />
            </div>
            <div class="p-6">
              <h6 class="mb-4 text-base font-bold leading-relaxed tracking-normal text-lime-900 antialiased">
                Terapia de Parejas
              </h6>
              <h4 class="mb-2  text-2xl font-bold leading-snug tracking-normal text-lime-800 antialiased">
                Crisis de Confianza
              </h4>
              <p class="mb-8 text-base font-thin leading-relaxed text-gray-700 antialiased">
                    La confianza es fundamental en
                    cualquier relación. Trabajamos con las parejas para reconstruir la
                    confianza perdida, abordar las preocupaciones de traición o engaño y
                    establecer nuevas formas de confiar y apoyarse mutuamente.
              </p>
            </div>        
        </div>
      </div>
        <div class="flex items-center justify-center  mx-0.5 md:mx-auto">
          <div class="relative flex w-full max-w-[48rem] flex-row rounded-xl bg-white bg-clip-border text-teal-950 shadow-md">
            <div class="relative m-0 w-1/3 shrink-0 overflow-hidden rounded-xl rounded-r-none bg-white bg-clip-border text-gray-700">
              <img
                src="https://images.unsplash.com/photo-1431037242647-4c2c27cb5bb1?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="image"
                class="h-full w-full object-cover"
                />
              </div>
              <div class="p-6">
                <h6 class="mb-4 text-base font-bold leading-relaxed tracking-normal text-lime-900 antialiased">
                    Terapia de Parejas
                </h6>
                <h4 class="mb-2  text-2xl font-bold leading-snug tracking-normal text-lime-800 antialiased">
                    Cambios en la Relación
                </h4>
                  <p class="mb-8 text-base font-thin leading-relaxed text-gray-700 antialiased">
                      Las transiciones importantes
          en la vida, como la llegada de un hijo, cambios laborales o mudanzas,
          pueden afectar la dinámica de la relación. Ayudamos a las parejas a
          adaptarse a estos cambios, a comunicarse de manera efectiva y a
          mantener una conexión sólida a lo largo del proceso.
                  </p>
          </div>          
        </div>
      </div>
    
    </ul>
    <br />
    
      <p class="font-thin text-lg mx-3 md:mx-24">
        En resumen, nuestra terapia de pareja se centra en crear un espacio de
        comprensión, comunicación y crecimiento mutuo. Trabajamos en
        colaboración con las parejas para identificar y abordar los desafíos
        específicos que enfrentan, promoviendo así una relación más saludable,
        satisfactoria y duradera.
      </p>
    
  </div>
</div>
{% endblock %}
