{% extends 'base.html' %} {% block content %}
<div class="relative overflow-x-auto p-24 container">
  
  <div class="flex flex-col items-center">
    <h2 class="text-center text-2xl mt-9 font-bold text-lime-900">Terapia Individual</h2>
  <br/>
      <p class="font-thin text-lg mx-0.5 md:mx-auto">
        Estos son solo algunos de los trastornos más comunes que abordamos en la
        terapia individual de adultos. Cada persona es única, y trabajamos de
        manera colaborativa para adaptar el enfoque terapéutico a las
        necesidades individuales de cada cliente, promoviendo así un mayor
        bienestar emocional y una vida más satisfactoria.
      </p>
    
    <br />
    <ul class="mt-5 mb-5">
        <div class="flex min-h-screen items-center justify-center  mx-0.5 md:mx-auto">
          <div class="relative flex w-full max-w-[48rem] flex-row rounded-xl bg-white bg-clip-border text-teal-950 shadow-md">
            <div class="relative m-0 w-1/3 shrink-0 overflow-hidden rounded-xl rounded-r-none bg-white bg-clip-border text-gray-700">
              <img
                src="https://images.unsplash.com/photo-1628746274375-3dad8e2fa16f?w=1800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8YW5zaWV0eXxlbnwwfHwwfHx8MA%3D%3D"
                alt="image"
                class="h-full w-full object-cover"
              />
            </div>
            <div class="p-6">
              <h6 class="mb-4 text-base font-bold leading-relaxed tracking-normal text-lime-900 antialiased">
                Terapia Individual
              </h6>
              <h4 class="mb-2  text-2xl font-bold leading-snug tracking-normal text-lime-800 antialiased">
                Gestión del Estrés y Ansiedad
              </h4>
              <p class="mb-8 text-base font-thin leading-relaxed text-gray-700 antialiased">
                La ansiedad es una
          respuesta natural del cuerpo ante situaciones estresantes, pero cuando
          se vuelve persistente e incapacitante, puede interferir
          significativamente en la vida diaria. Los síntomas pueden incluir
          preocupación excesiva, tensión muscular, dificultad para concentrarse,
          irritabilidad y problemas para conciliar el sueño. En la terapia,
          trabajamos para identificar y comprender los desencadenantes de la
          ansiedad, desarrollar técnicas de relajación y manejo del estrés, y
          reestructurar pensamientos irracionales para promover una mayor
          tranquilidad y control.
              </p>
              
            </div>
          </div>
        </div>
        <div class="flex min-h-screen items-center justify-center  mx-0.5 md:mx-auto">
          <div class="relative flex w-full max-w-[48rem] flex-row rounded-xl bg-white bg-clip-border text-teal-950 shadow-md">
            <div class="relative m-0 w-1/3 shrink-0 overflow-hidden rounded-xl rounded-r-none bg-white bg-clip-border text-gray-700">
              <img
                src="https://images.unsplash.com/photo-1515472071456-47b72fb3caff?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="image"
                class="h-full w-full object-cover"
              />
            </div>
            <div class="p-6">
              <h6 class="mb-4 text-base font-bold leading-relaxed tracking-normal text-lime-900 antialiased">
                Terapia Individual
              </h6>
              <h4 class="mb-2  text-2xl font-bold leading-snug tracking-normal text-lime-800 antialiased">
                Depresión
              </h4>
              <p class="mb-8 text-base font-thin leading-relaxed text-gray-700 antialiased">
                La depresión es más que simplemente
          sentirse triste; es un trastorno del estado de ánimo que puede afectar
          todas las áreas de la vida, incluyendo el trabajo, las relaciones y la
          salud física. Los síntomas pueden incluir sentimientos de tristeza
          persistente, pérdida de interés en actividades que antes se
          disfrutaban, fatiga, cambios en el apetito o el peso, dificultad para
          concentrarse y pensamientos suicidas. En la terapia, trabajamos para
          identificar las causas subyacentes de la depresión, desarrollar
          estrategias para mejorar el estado de ánimo y promover una mayor
          autoestima y bienestar emocional.
              </p>
              
            </div>
          </div>
        </div> 
        <div class="flex min-h-screen items-center justify-center  mx-0.5 md:mx-auto">
          <div class="relative flex w-full max-w-[48rem] flex-row rounded-xl bg-white bg-clip-border text-teal-950 shadow-md">
            <div class="relative m-0 w-1/3 shrink-0 overflow-hidden rounded-xl rounded-r-none bg-white bg-clip-border text-gray-700">
              <img
                src="https://images.unsplash.com/photo-1623701197215-3fe8e52f618e?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="image"
                class="h-full w-full object-cover"
              />
            </div>
            <div class="p-6">
              <h6 class="mb-4 text-base font-bold leading-relaxed tracking-normal text-lime-900 antialiased">
                Terapia Individual
              </h6>
              <h4 class="mb-2  text-2xl font-bold leading-snug tracking-normal text-lime-800 antialiased">
                Trauma y Estrés Postraumático
              </h4>
              <p class="mb-8 text-base font-thin leading-relaxed text-gray-700 antialiased">
                El trauma puede surgir
          como resultado de experiencias abrumadoras, como abuso, violencia,
          accidentes graves o eventos traumáticos. Los síntomas pueden incluir
          recuerdos intrusivos, pesadillas, evitación de ciertos lugares o
          situaciones, ansiedad, irritabilidad y dificultades para regular las
          emociones. En la terapia, utilizamos enfoques especializados, como la
          terapia cognitivo-conductual y la terapia de desensibilización, para
          ayudar a procesar y sanar las heridas emocionales del trauma,
          promoviendo la resiliencia y la recuperación.
              </p>
              
            </div>
          </div>
        </div>
        <div class="flex min-h-screen items-center justify-center  mx-0.5 md:mx-auto">
          <div class="relative flex w-full max-w-[48rem] flex-row rounded-xl bg-white bg-clip-border text-teal-950 shadow-md">
            <div class="relative m-0 w-1/3 shrink-0 overflow-hidden rounded-xl rounded-r-none bg-white bg-clip-border text-gray-700">
              <img
                src="https://images.unsplash.com/photo-1626546849705-f29e2f771df9?q=80&w=1978&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="image"
                class="h-full w-full object-cover"
              />
            </div>
            <div class="p-6">
              <h6 class="mb-4 text-base font-bold leading-relaxed tracking-normal text-lime-900 antialiased">
                Terapia Individual
              </h6>
              <h4 class="mb-2  text-2xl font-bold leading-snug tracking-normal text-lime-800 antialiased">
                Miedos y Fobias
              </h4>
              <p class="mb-8 text-base font-thin leading-relaxed text-gray-700 antialiased">
                Las fobias son miedos irracionales y
          extremos hacia objetos, situaciones o actividades específicas que
          desencadenan ansiedad intensa. Pueden incluir fobias específicas, como
          miedo a los animales, alturas o espacios cerrados, así como fobias
          sociales, como el miedo al juicio o la vergüenza en situaciones
          sociales. Las personas con fobias pueden experimentar ataques de
          pánico, sudoración, temblores y evitación extrema de las situaciones
          temidas. En la terapia, trabajamos para identificar los
          desencadenantes de las fobias, desafiar las creencias irracionales y
          desarrollar estrategias de afrontamiento para enfrentar gradualmente
          las situaciones temidas, promoviendo así una mayor libertad y calidad
          de vida.
              </p>
              
            </div>
          </div>
        </div>
        <div class="flex min-h-screen items-center justify-center  mx-0.5 md:mx-auto">
          <div class="relative flex w-full max-w-[48rem] flex-row rounded-xl bg-white bg-clip-border text-teal-950 shadow-md">
            <div class="relative m-0 w-1/3 shrink-0 overflow-hidden rounded-xl rounded-r-none bg-white bg-clip-border text-gray-700">
              <img
                src="https://images.unsplash.com/photo-1586473219010-2ffc57b0d282?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="image"
                class="h-full w-full object-cover"
              />
            </div>
            <div class="p-6">
              <h6 class="mb-4 text-base font-bold leading-relaxed tracking-normal text-lime-900 antialiased">
                Terapia Individual
              </h6>
              <h4 class="mb-2  text-2xl font-bold leading-snug tracking-normal text-lime-800 antialiased">
                Obsesiones y Compulsiones
              </h4>
              <p class="mb-8 text-base font-thin leading-relaxed text-gray-700 antialiased">
                El Trastorno Obsesivo
          Compulsivo es un trastorno caracterizado por pensamientos obsesivos
          recurrentes y comportamientos compulsivos repetitivos que buscan
          aliviar la ansiedad asociada. Los pensamientos obsesivos pueden
          incluir miedo a la contaminación, preocupación por la seguridad o
          pensamientos de agresión, mientras que las compulsiones pueden
          manifestarse en rituales de limpieza, verificación o conteo. El TOC
          puede interferir significativamente en la vida diaria y causar un gran
          malestar. En la terapia, trabajamos para entender las causas
          subyacentes del TOC, desafiar los pensamientos distorsionados y
          desarrollar estrategias para reducir las compulsiones y vivir de
          manera más libre y satisfactoria.
              </p>
              
            </div>
          </div>
        </div>  
        <div class="flex min-h-screen items-center justify-center  mx-0.5 md:mx-auto">
          <div class="relative flex w-full max-w-[48rem] flex-row rounded-xl bg-white bg-clip-border text-teal-950 shadow-md">
            <div class="relative m-0 w-1/3 shrink-0 overflow-hidden rounded-xl rounded-r-none bg-white bg-clip-border text-gray-700">
              <img
                src="https://plus.unsplash.com/premium_photo-1683865775631-3283bfaf6508?q=80&w=2064&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="image"
                class="h-full w-full object-cover"
              />
            </div>
            <div class="p-6">
              <h6 class="mb-4 text-base font-bold leading-relaxed tracking-normal text-lime-900 antialiased">
                Terapia Individual
              </h6>
              <h4 class="mb-2  text-2xl font-bold leading-snug tracking-normal text-lime-800 antialiased">
                Problemas de Gestión Emocional
              </h4>
              <p class="mb-8 text-base font-thin leading-relaxed text-gray-700 antialiased">
                La gestión emocional
                se refiere a la habilidad para reconocer, comprender y regular
                nuestras emociones de manera saludable y efectiva. Los problemas en
                este ámbito pueden manifestarse en dificultades para controlar la ira,
                manejar el estrés, lidiar con la tristeza o regular la ansiedad. Estos
                problemas pueden interferir en las relaciones interpersonales, el
                rendimiento laboral y el bienestar general. En la terapia, trabajamos
                para identificar patrones de pensamiento y comportamiento que
                contribuyan a los problemas de gestión emocional, enseñamos técnicas
                de autocontrol emocional y promovemos habilidades de afrontamiento más
                adaptativas, facilitando así una mayor estabilidad emocional y
                satisfacción en la vida diaria.
              </p>
              
            </div>
          </div>
        </div>
      <p class="font-thin text-lg  mx-0.5 md:mx-auto">
        Estos son algunos de los desafíos adicionales que pueden abordarse en la
        terapia individual de adultos. Cada uno de estos problemas puede tener
        un impacto significativo en la vida diaria de una persona, pero con el
        apoyo adecuado y las estrategias apropiadas, es posible superarlos y
        alcanzar un mayor bienestar emocional y mental.
      </p>
  </div>
</div>
{% endblock %}
