{% extends 'base.html' %} {% block content %}
<div class="relative overflow-x-auto p-24 container">
  <div class="flex flex-col items-center">
    <div
      class="bg-white p-10 rounded-full border-x-4 border-teal-950 shadow-lg overflow-hidden items-center"
    >
      <p class="font-thin text-lg mx-3 md:mx-24">
        En nuestro centro, ofrecemos un espacio seguro y de apoyo para ayudar a
        los niños y adolescentes a enfrentar desafíos emocionales, académicos y
        de desarrollo. Nuestro enfoque terapéutico está diseñado específicamente
        para adaptarse a las necesidades únicas de cada niño y adolescente,
        utilizando técnicas y estrategias adaptadas a su edad y etapa de
        desarrollo.
      </p>
    </div>
    <br />
    <ul class="mt-10 mb-10">
      <div
        class="bg-white p-10 rounded-t-full border-x-4 border-green-300 shadow-lg overflow-hidden items-center"
      >
        <li class="font-thin text-xl list-decimal mx-10 md:mx-24">
          <strong>Trastornos de Conducta:</strong> Los trastornos de conducta
          pueden manifestarse en comportamientos desafiantes, agresivos o
          disruptivos que interfieren con el funcionamiento diario del niño o
          adolescente. En la terapia, trabajamos para identificar las causas
          subyacentes de estos comportamientos y desarrollar estrategias para
          fomentar conductas más saludables y adaptativas. Ayudamos a los niños
          y adolescentes a comprender y regular sus emociones, a aprender
          habilidades de resolución de problemas y a mejorar su comunicación
          interpersonal.
        </li>
      </div>
      <br />
      <div
        class="bg-white p-10 rounded-t-full border-x-4 border-green-300 shadow-lg overflow-hidden items-center"
      >
        <li class="font-thin text-xl list-decimal mx-10 md:mx-24">
          <strong>Trastornos Alimenticios:</strong> Los trastornos alimenticios,
          como la anorexia nerviosa, la bulimia nerviosa y la alimentación
          selectiva, pueden tener graves consecuencias para la salud física y
          emocional de un niño o adolescente. En la terapia, trabajamos en
          colaboración con el niño o adolescente y su familia para abordar las
          creencias y actitudes negativas hacia la alimentación y el cuerpo,
          promover una relación saludable con la comida y el cuerpo, y
          desarrollar estrategias para manejar los desencadenantes emocionales
          subyacentes.
        </li>
      </div>
      <br />
      <div
        class="bg-white p-10 rounded-t-full border-x-4 border-green-300 shadow-lg overflow-hidden items-center"
      >
        <li class="font-thin text-xl list-decimal mx-10 md:mx-24">
          <strong
            >Trastorno por Déficit de Atención e Hiperactividad (TDAH):</strong
          >
          El TDAH se caracteriza por dificultades en la atención, la
          impulsividad y la hiperactividad, que pueden afectar
          significativamente el rendimiento académico y las relaciones sociales
          del niño o adolescente. En la terapia, trabajamos para enseñar
          estrategias de organización y manejo del tiempo, mejorar la autoestima
          y la autoeficacia, y desarrollar habilidades de autorregulación para
          ayudar al niño o adolescente a tener éxito tanto en la escuela como en
          casa.
        </li>
      </div>
      <br />
      <div
        class="bg-white p-10 rounded-t-full border-x-4 border-green-300 shadow-lg overflow-hidden items-center"
      >
        <li class="font-thin text-xl list-decimal mx-10 md:mx-24">
          <strong>Trastornos del Aprendizaje:</strong> Los trastornos del
          aprendizaje, como la dislexia, la discalculia y la disgrafía, pueden
          dificultar la capacidad de un niño para adquirir y procesar
          información de manera efectiva. En la terapia, trabajamos en
          colaboración con el niño, su familia y los educadores para identificar
          sus fortalezas y debilidades, desarrollar estrategias de aprendizaje
          adaptativas y promover un ambiente de apoyo y comprensión tanto en el
          hogar como en la escuela.
        </li>
      </div>
    </ul>
    <br />
    <div
      class="bg-white p-10 rounded-full border-x-4 border-teal-950 shadow-lg overflow-hidden items-center"
    >
      <p class="font-thin text-lg mx-3 md:mx-24">
        Nuestro objetivo es proporcionar a los niños y adolescentes las
        herramientas y el apoyo necesarios para superar los desafíos que
        enfrentan y alcanzar su máximo potencial en todas las áreas de sus
        vidas. Estamos aquí para acompañarles en su viaje hacia el bienestar y
        el éxito.
      </p>
    </div>
  </div>
</div>
{% endblock %}
