{% extends 'base.html' %} {% block content %}
<div class="relative overflow-x-auto p-4 md:p-24 container">
  <h2 class="text-center text-2xl mt-9 font-bold text-lime-900">Terapia Infantil y Adolescente</h2>
  <br/>
  <div class="flex flex-col items-center">
      <p class="font-thin text-lg mx-3 md:mx-24">
        En nuestro centro, ofrecemos un espacio seguro y de apoyo para ayudar a
        los niños y adolescentes a enfrentar desafíos emocionales, académicos y
        de desarrollo. Nuestro enfoque terapéutico está diseñado específicamente
        para adaptarse a las necesidades únicas de cada niño y adolescente,
        utilizando técnicas y estrategias adaptadas a su edad y etapa de
        desarrollo.
      </p>
    <br />
    <ul class="mt-10 mb-10">
      <div class="flex items-center justify-center mx-2 md:mx-4 lg:mx-auto">
          <div class="relative flex w-full max-w-[48rem] flex-row rounded-xl bg-white bg-clip-border text-teal-950 shadow-md">
          <div class="relative m-0 w-1/3 shrink-0 overflow-hidden rounded-xl rounded-r-none bg-white bg-clip-border text-gray-700">
            <img
              src="https://images.unsplash.com/photo-1600880291319-1a7499c191e8?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt="image"
              class="h-full w-full object-cover"
            />
          </div>
          <div class="p-6">
            <h6 class="mb-4 text-base font-bold leading-relaxed tracking-normal text-lime-900 antialiased">
              Terapia Infantil y Adolescente
            </h6>
            <h4 class="mb-2  text-2xl font-bold leading-snug tracking-normal text-lime-800 antialiased">
              Trastornos de Conducta
            </h4>
            <p class="mb-8 text-base font-thin leading-relaxed text-gray-700 antialiased">
              Los trastornos de conducta
          pueden manifestarse en comportamientos desafiantes, agresivos o
          disruptivos que interfieren con el funcionamiento diario del niño o
          adolescente. En la terapia, trabajamos para identificar las causas
          subyacentes de estos comportamientos y desarrollar estrategias para
          fomentar conductas más saludables y adaptativas. Ayudamos a los niños
          y adolescentes a comprender y regular sus emociones, a aprender
          habilidades de resolución de problemas y a mejorar su comunicación
          interpersonal.
            </p>
            
          </div>
        </div>
      </div>
      <div class="flex items-center justify-center mx-2 md:mx-4 lg:mx-auto">
          <div class="relative flex w-full max-w-[48rem] flex-row rounded-xl bg-white bg-clip-border text-teal-950 shadow-md">
          <div class="relative m-0 w-1/3 shrink-0 overflow-hidden rounded-xl rounded-r-none bg-white bg-clip-border text-gray-700">
            <img
              src="https://images.unsplash.com/photo-1564525843933-a68ba17859d5?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjJ8fHRyYXN0b3JubyUyMGFsaW1lbnRpY2lvfGVufDB8fDB8fHww"
              alt="image"
              class="h-full w-full object-cover"
            />
          </div>
          <div class="p-6">
            <h6 class="mb-4 text-base font-bold leading-relaxed tracking-normal text-lime-900 antialiased">
              Terapia Infantil y Adolescente
            </h6>
            <h4 class="mb-2  text-2xl font-bold leading-snug tracking-normal text-lime-800 antialiased">
              Trastornos Alimenticios
            </h4>
            <p class="mb-8 text-base font-thin leading-relaxed text-gray-700 antialiased">
              Los trastornos alimenticios,
              como la anorexia nerviosa, la bulimia nerviosa y la alimentación
              selectiva, pueden tener graves consecuencias para la salud física y
              emocional de un niño o adolescente. En la terapia, trabajamos en
              colaboración con el niño o adolescente y su familia para abordar las
              creencias y actitudes negativas hacia la alimentación y el cuerpo,
              promover una relación saludable con la comida y el cuerpo, y
              desarrollar estrategias para manejar los desencadenantes emocionales
              subyacentes.
            </p>
            
          </div>
        </div>
      </div>
      <div class="flex items-center justify-center mx-2 md:mx-4 lg:mx-auto">
          <div class="relative flex w-full max-w-[48rem] flex-row rounded-xl bg-white bg-clip-border text-teal-950 shadow-md">
          <div class="relative m-0 w-1/3 shrink-0 overflow-hidden rounded-xl rounded-r-none bg-white bg-clip-border text-gray-700">
            <img
              src="https://images.unsplash.com/photo-1677295261901-0436a9bd6c29?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt="image"
              class="h-full w-full object-cover"
            />
          </div>
          <div class="p-6">
            <h6 class="mb-4 text-base font-bold leading-relaxed tracking-normal text-lime-900 antialiased">
              Terapia Infantil y Adolescente
            </h6>
            <h4 class="mb-2  text-2xl font-bold leading-snug tracking-normal text-lime-800 antialiased">
              Trastorno por Déficit de Atención e Hiperactividad (TDAH)
            </h4>
            <p class="mb-8 text-base font-thin leading-relaxed text-gray-700 antialiased">
              El TDAH se caracteriza por dificultades en la atención, la
          impulsividad y la hiperactividad, que pueden afectar
          significativamente el rendimiento académico y las relaciones sociales
          del niño o adolescente. En la terapia, trabajamos para enseñar
          estrategias de organización y manejo del tiempo, mejorar la autoestima
          y la autoeficacia, y desarrollar habilidades de autorregulación para
          ayudar al niño o adolescente a tener éxito tanto en la escuela como en
          casa.
            </p>
            
          </div>
        </div>
      </div>
      <div class="flex items-center justify-center mx-2 md:mx-4 lg:mx-auto">
          <div class="relative flex w-full max-w-[48rem] flex-row rounded-xl bg-white bg-clip-border text-teal-950 shadow-md">
          <div class="relative m-0 w-1/3 shrink-0 overflow-hidden rounded-xl rounded-r-none bg-white bg-clip-border text-gray-700">
            <img
              src="https://images.unsplash.com/photo-1560785496-3c9d27877182?q=80&w=1674&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt="image"
              class="h-full w-full object-cover"
            />
          </div>
          <div class="p-6">
            <h6 class="mb-4 text-base font-bold leading-relaxed tracking-normal text-lime-900 antialiased">
              Terapia Infantil y Adolescente
            </h6>
            <h4 class="mb-2  text-2xl font-bold leading-snug tracking-normal text-lime-800 antialiased">
              Trastornos del Aprendizaje
            </h4>
            <p class="mb-8 text-base font-thin leading-relaxed text-gray-700 antialiased">
              Los trastornos del
          aprendizaje, como la dislexia, la discalculia y la disgrafía, pueden
          dificultar la capacidad de un niño para adquirir y procesar
          información de manera efectiva. En la terapia, trabajamos en
          colaboración con el niño, su familia y los educadores para identificar
          sus fortalezas y debilidades, desarrollar estrategias de aprendizaje
          adaptativas y promover un ambiente de apoyo y comprensión tanto en el
          hogar como en la escuela.
            </p>
            
          </div>
        </div>
      </div>
    </ul>
    <br />
    
      <p class="font-thin text-lg mx-3 md:mx-24">
        Nuestro objetivo es proporcionar a los niños y adolescentes las
        herramientas y el apoyo necesarios para superar los desafíos que
        enfrentan y alcanzar su máximo potencial en todas las áreas de sus
        vidas. Estamos aquí para acompañarles en su viaje hacia el bienestar y
        el éxito.
      </p>
  </div>
</div>
{% endblock %}
